#clear-map
{
 border-radius: 12px;
 padding: 5px;
 margin-top: 5px;
}

#clear-map:hover
{
 background-color: 'green';
}

body
{
 text-overflow: ellipsis !important;
}

#search-options
{
 float: left;
 width: 69%;
}

.clear
{
 clear:both;
}

#location-regions
{
 margin-bottom:10px;
}

#search-summary
{
 width:30%;
 float:right;
 margin: 0 auto 0 auto;
 
 
}


.chosen-container
{
 vertical-align:top !important;
 margin-bottom: 5px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text]
{
 width:100% !important;
 height:inherit !important;
 padding:3px !important;
}

#form-submit
{
 padding: 0 0 0 40px;
}

#provenance
{
 float:left;
 margin:0 auto;
 width:100%;
 margin-bottom:10px;
}
.provenance-label
{
 width: 100px;
}

.spinner {
    position: fixed;
    
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

#map-instructions
{

}

label[for=bounds]
{
 width: 60px;
}

#form-container
{
 max-width: 1100px;
}

#content
{
 margin: 0 auto 20px 0;
}

#map-canvas 
{ 
 height: 400px;
 width: 450px;
 border: 3px solid #C7C6C6;
 border-radius: 5px;
 margin: 0 35px 40px 35px;
 float: left;
}

.rocktypecheckboxgroup
{
 float:left;
 width: 180px;
}

.metgradecheckboxgroup
{
 float:left;
 width: 220px;
}

.navbar-toggle 
{
 background-color: rgba(0, 0, 0, 0.19) !important;
}
.icon-bar 
{
background-color: white !important;
}

.navbar-inner {
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.container-fluid
{
 padding: 0 !important;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #e4e6e5;
        padding-bottom: 40px;
}

#page_title
{
    color: #318B76;
    padding-top: 15px;
    margin-bottom: 8px;
    font-weight: 400;
    text-align: center;
}

h3
{
	font-size: 22px;
	font-weight: 400;
}

/* Style for dummy table which has the data to export to csv*/
#dummy
{
    visibility: hidden;
    height: 10px;
    overflow: hidden;
}

#exportBtn
{
    float: right;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 14px;
    font-weight: normal;
    background-color: white;
    color: #409f89;
    border: 1px solid #DDD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#exportBtn: hover
{
    text-decoration: none;
    cursor: pointer;
    background-color: #409F89;
    color: #F8F8F8;
}

hr
{
    clear: both;
    margin-bottom: 25px;
    border: none;
    border-top: 1px solid #B6B8B7;
    border-bottom: 1px solid white;
}

/*.navbar-nav>li>a
{
    font-size: 16px !important;
}*/

/*.navbar .brand
{
    padding: 7px 30px 5px !important;
}*/

#heading
{
    color: rgb(29, 123, 101);
    padding-top: 30px;
    padding-bottom: 10px;
}

#first_para
{
  width: auto;
 
}

#slices
{
    float: right;
    border: 3px solid #C7C6C6;
    border-radius: 5px;
    margin: 20px;
}


/*------------------ CSS for SampleView ------------------*/
/* style for tables which are affected by s2s_demo.css which is a search.html dependency */
#image_canvas.table thead tr th, #samplelist thead tr th, #chem_elements thead tr th
{
   border:0 solid #000000;
}

#image_canvas thead tr
{
	background-color: #318B76;
	color:	white;
}

#map_canvas
{
	float: right;
	height: 400px;
	width: 450px;
	border: 3px solid #C7C6C6;
	border-radius: 5px

}

#sampleview_table
{
	background-color: rgb(235, 235, 235);
	width: 650px;
    margin-bottom: 50px;
	float: left;
}

.sample_value
{
	font-size: 16px;
    color: rgb(14, 15, 15);
}

#subsampletable_header
{
	padding-top: 10px;
}

#sampleview_images
{
	width: 100%;
	clear: both;
}

#sampleview_images h4
{
	margin-bottom: 20px;
}

#subsampletable_canvas_wrapper, #subsampleviewimg_canvas_wrapper, #chemtable_canvas_wrapper
{
    margin-bottom: 50px;

}

#subsampletable_canvas_length, #subsampleviewimg_canvas_length,  #chemtable_canvas_length
{
    margin-top: 20px;

    width: 400px;
    float: left;
}

#subsampletable_canvas_filter, #subsampleviewimg_canvas_filter, #chemtable_canvas_filter
{
    width: 400px;

    float: right;
    margin-top: 20px;
    text-align: right;
}

#subsampletable_canvas, #subsampleviewimg_canvas, #chemtable_canvas
{
	clear: both;
	width: 100%;
}

#subsampletable_canvas thead tr, #subsampleviewimg_canvas thead tr, #chemtable_canvas thead tr
{
    border: 1px solid #318B76;
    background-color: #318B76;
    border-radius: 10px;
    height: 36px;
}

#subsampletable_canvas thead tr th, #subsampleviewimg_canvas thead tr th, #chemtable_canvas thead tr th
{
    font-size: 1em;
    font-weight: normal;
    color: #FFFFFF;
    border: 0px solid black;
    padding: 3px 7px 2px 7px;

}

#subsampletable_canvas tbody tr.even, #subsampleviewimg_canvas tbody tr.even, #chemtable_canvas tbody tr.even
{
    background-color: rgba(255, 255, 255, 0.45);

}

#subsampletable_canvas tbody tr td, #subsampleviewimg_canvas tbody tr td, #chemtable_canvas tbody tr td
{
    padding-left: 8px;

    padding-right: 8px;
    text-align: center;
}

#subsampletable_canvas_info, #subsampleviewimg_canvas_info, #chemtable_canvas_info
{
    margin-top: 20px;

}

#subsampletable_canvas_paginate, #subsampleviewimg_canvas_paginate, #chemtable_canvas_paginate
{
    margin-top: 30px;

}

#subsampletable_canvas_previous, #subsampleviewimg_canvas_previous, #chemtable_canvas_previous
{
    display: inline-block;
    padding: 5px 14px;
    font-weight: normal;
    background-color: white;
    color: #318B76;
    border: 1px solid #DDD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#subsampletable_canvas_previous:hover, #subsampleviewimg_canvas_previous:hover, #chemtable_canvas_previous:hover
{
    text-decoration: none;
    cursor: pointer;
    background-color: #318B76;
    color: #F8F8F8;
}

#subsampletable_canvas_next, #subsampleviewimg_canvas_next, #chemtable_canvas_next
{
    display: inline-block;
    padding: 5px 14px;
    background-color: white;
    color: #318B76;
    border: 1px solid #DDD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: right;
}

#subsampletable_canvas_next:hover, #subsampleviewimg_canvas_next:hover, #chemtable_canvas_next:hover
{
    text-decoration: none;
    cursor: pointer;
    background-color: #318B76;
    color: #F8F8F8;
}

#jquery-overlay
{
	width: 100% !important;

}


/*------------------ CSS for SubsampleView ------------------*/

#subsampleview_table
{
    background-color: rgb(235, 235, 235);
    width: 650px;
    margin: 0 auto 50px auto;

}

#subsample_title
{
 text-align:center;
}

.subsample_value
{
    color: rgb(14, 15, 15);
}

/*------------------ CSS for chemicalanalysisView ------------------*/

#chemicalanalysisview_table{
background-color: rgb(235, 235, 235);
    width: 550px;
    margin-bottom: 50px;
    float: left;
}

#chem_elements
{
    width: 400px;
    float: right;

}

#chem_elements h5
{
    margin-bottom: 20px;
}

.sample_mineral:hover .full_list {
    display: block;
    opacity: 1;
}

.full_list {
    height: auto;
    display: block;
    background: #FFFFFF;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: auto;
    -webkit-transtion: opacity 0.3s ease-out;
    opacity: 0;
    overflow: hidden;
}

.sample_mineral {
    margin:100px;
}

@media (max-width: 1199px)
{
 h3
 {
  text-align:center;
 }

 #sampleview_table
 {
  float: none;
  margin: 0 auto 50px auto;
 }

 #sampleview_table
 {
  float: none;
  margin: 0 auto 50px auto;
 }

 #chemicalanalysisview_table
 {
  float: none;
  margin: 0 auto 50px auto;
 }

 #chem_elements
 {
  float: none;
  margin: 0 auto;
 }

 #map_canvas
 {
  float: none;
  margin: 0 auto;
  width: auto;
  max-width: 450px;
 }
}

@media (max-width: 1000px)
{
 #map-canvas
 {
  float: none;
  margin: 0 auto;
  width: auto;
  max-width: 1000px;
 }
}

@media (max-width: 450px)
{
 #slices img
 {
  width: 100%;
  height: auto;
 }
}
