<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <meta name="viewport" content="width=device-width"/>
    <script>
      function openSearchMenu() {
        var options = document.getElementsByName("searchobject");
        for (var i = 0; i < options.length; i++) {
          options[i].style.display = "block";
        }
      }

      function closeSearchMenu() {
        var options = document.getElementsByName("searchobject");
        for (var i = 0; i < options.length; i++) {
          options[i].style.display = "none";
        }
      }

      function openEditMenu() {
        var options = document.getElementsByName("editobject");
        for (var i = 0; i < options.length; i++) {
          options[i].style.display = "block";
        }
      }

      function closeEditMenu() {
        var options = document.getElementsByName("editobject");
        for (var i = 0; i < options.length; i++) {
          options[i].style.display = "none";
        }
      }
    </script>
  </head>

  <body class="container">
    <header>
      {% if auth_token %}<span style="float:right">Logged in as {{ name }}</span>{% endif %}
      <h3 class="brand" id="page_title">MetPetDB: Database for Metamorphic Petrology</h3>
      <hr>
      <div class="container-fluid">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/images/MPDBlogo_sml.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li onmouseleave="closeSearchMenu()">
                  <a onmouseover="openSearchMenu()">Search</a>
                  <ul class="navbar-dropdown searchmenu">
                    <li name="searchobject"><a href="{{ url_for('search') }}">Samples</a></li>
                    <li name="searchobject"><a href="{{ url_for('search_chemistry') }}">Chemistry</a></li>
                  </ul>
                </li>
                {% if auth_token %}
                <li onmouseleave="closeEditMenu()">
                  <a onmouseover="openEditMenu()">Upload Data</a>
                  <ul class="navbar-dropdown editmenu">
                    <li name="editobject"><a href="{{ url_for('edit_sample', id='new') }}">Sample</a></li>
                    <!--<li name="editobject"><a href="{{ url_for('bulk_upload')
                    }}">Bulk Upload</a></li>-->
                  </ul>
                </li>
                <li><a href="{{ url_for('search') }}?emails={{ email }}&resource=samples&render=True">My Samples</a></li>
                {% endif %}
                <li><a href="{{ url_for('index') }}">Help</a></li>
                {% if auth_token %}
                <li><a href="{{ url_for('logout') }}"><b>Logout</b></a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}"><b>Login/Register</b></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% block title %}
    {% endblock %}

    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <!--Gives errors in the browser console if jquery not included, but formats
        search page checkboxes not in columns if included-->
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/lightbox.js"></script>
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="/static/css/lightbox.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  </body>
</html>

