{% extends "base.html" %}
{% block head %}
    <title>MetPetDB Bulk Upload</title>
{% endblock %}
{% block body %}
<div id="content">
<script src="/static/js/editablegrid.js" type="text/javascript"></script>
<script src="/static/js/editablegrid_renderers.js" type="text/javascript"></script>
<script src="/static/js/editablegrid_editors.js" type="text/javascript"></script>
<script src="/static/js/editablegrid_validators.js" type="text/javascript"></script>
<script src="/static/js/editablegrid_utils.js" type="text/javascript"></script>
<script src="/static/js/editablegrid_charts.js" type="text/javascript"></script>
<script src="/static/js/file_select.js" type="text/javascript"></script>
    <form>
        <h4 id="heading">Bulk Upload</h4>
        <input type="button" value="Choose File" id="a" onclick="GetFileURL();">
        <div style="display:inline" id="CheckOrX"></div><br>
        Selected URL: <div style="display:inline" id="URLEntered"></div><br>
        <input type="radio" name="filetype" id="Samples" checked>Samples<br>
        <input type="radio" name="filetype" id="ChemicalAnalyses">Chemical Analyses<br>
        <input type="radio" name="filetype" id="Images">Images<br>
        <input type="button" value="Parse file for upload" onclick="ParseFileForUpload();">
    </form>
</div>
<h1 id="gridHeading"></h1>
<div id="tablecontent"></div>
{% endblock %}
