<html>
  <head>
    <title>MetPetDB Bulk Upload</title>
    <script type="text/javascript" src="/static/js/file_select.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
  </head>
  <body>    
    <form>
      <fieldset>
        <legend>Bulk Upload</legend>
        <input type="button" value="Choose File" id="a" onclick="GetFileURL()">
          <div style="display:inline" id="CheckOrX"></div><br>
        Selected URL: <div style="display:inline" id="URLEntered"></div><br>
        <input type="radio" name="filetype" id="Samples" checked>Samples<br>
        <input type="radio" name="filetype" id="ChemicalAnalyses">Chemical Analyses<br>
        <input type="radio" name="filetype" id="Images">Images<br>
        <input type="submit" value="Parse file for upload" onclick="ParseFileForUpload()">
      </fieldset>
    </form>
  </body>    
</html>
