{% extends "base.html" %}
{% block body %}
<div id="spinner" class="spinner" style="display:none;">
  <img id="img-spinner" src="/static/images/ajax-loader.gif" alt="Loading"/>
</div>

<form action="" method="get" id='content'>
  <div id="search-options" class="panel panel-default">
    <div id="search-panel" class="panel-heading" onclick="$('#collapseOne').collapse('toggle'); $('#collapseTwo').collapse('toggle');">
      <h4 class="panel-title">
        <a class='accordion-toggle' data-toggle="collapse" data-parent="#accordion" href="#">Search Options</a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <!-- Search Option Tabs -->
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#minerals">Minerals</a></li>
          <li><a href="#elements">Elements</a></li>
          <li><a href="#oxides">Oxides</a></li>
        </ul>

        <div class="tab-content">
          <!-- MINERALS -->
          <div class="tab-pane active" id="minerals"><br>
            <label>Mineral: </label>
            <div id="mineral-select">
              <select multiple id="selected-mineral" name="minerals" onchange="updateMineral()" class="chosen-select">
                <option></option>
                {% for m in minerals %}
                <option value="{{ m.name }}">{{ m.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <!-- ELEMENTS -->
          <div class="tab-pane" id="elements"><br>
            <label>Element: </label>
            <div id="element-select">
              <select multiple id="selected-element" name="elements" onchange="updateElement()" class="chosen-select">
                <option></option>
                {% for e in elements %}
                <option value="{{ e.name }}">{{ e.symbol }} - {{ e.name }}</option>
                {% endfor %}
              </select>
            </div>
            <br>

            <div id="element-and-or" class="text-center btn-group" data-toggle="buttons" style="margin:0 auto;">
              <label class="btn btn-primary active">
                <input type="radio" name="elements_and" value="True" checked> AND
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="elements_and" value=""> OR
              </label>
            </div>
          </div>

          <!-- OXIDES -->
          <div class="tab-pane" id="oxides"><br>
            <label>Oxide: </label>
            <div id="oxide-select">
              <select multiple id="selected-oxide" name="oxides" onchange="updateOxide()" class="chosen-select">
                <option></option>
                {% for o in oxides %}
                <option value="{{ o.species }}">{{ o.species }}</option>
                {% endfor %}
              </select>
            </div>
            <br>

            <div id="oxide-and-or" class="text-center btn-group" data-toggle="buttons" style="margin:0 auto;">
              <label class="btn btn-primary active">
                <input type="radio" name="oxides_and" value="True" checked> AND
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="oxides_and" value=""> OR
              </label>
            </div>
          </div>
        </div>
        {% if error %}
        <p style="color: red;">Please submit a search term.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="search-summary" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#" onclick="$('#collapseOne').collapse('toggle'); $('#collapseTwo').collapse('toggle');">Search Summary</a>
      </h4>
      <a id="clearAll" onclick="clearAll()" href='#'>Clear All</a>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <p id="instructions">Set your search criteria by selecting from the categories on the left.<br></p>
        <div id="search-options-minerals"></div>
        <div id="search-options-elements"></div>
        <div id="search-options-oxides"></div>
        <div id="form-submit" class="text-center">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="resource" value="sample"> Samples
            </label>
            <label class="btn btn-primary active">
              <input type="radio" name="resource" value="chemicalanalysis" checked="checked"> Chemical Analyses
            </label>
          </div>
          <div style="padding:10px 0px;">
            <input type="checkbox" id="showmap" onchange="$('#collapseThree').collapse('toggle');" name="showmap" value="ofcourse">Show samples on map
          </div>
          Display <input type="text" style="width:11%;text-align:right" name="page_size" value="20"> results &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" style="font-size:16px" value="Search">
        </div>
      </div>
    </div>
  </div>
</form>

<div id="results"></div>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/jstree.min.js"></script>
<script src="/static/css/bootstrap-switch.min.js"></script>

<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
<link href="/static/css/chosen.min.css" rel="stylesheet">
<link href="/static/css/style.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">

<script>
// TO SWITCH TABS
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});

// ON READY FUNCTION
$(function()
{
  // ACTIVATE CHOSEN-SELECT PLUGIN
  $(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: "Oops, nothing found!",
    width: "50%"
  });

  $(".chosen-select2").chosen({
    disable_search_threshold: 10,
    width: "20%"
  });

  // AJAX CALL TO UPDATE SAMPLE DATA
  $('#content').submit(function () {
    $('#collapseOne').collapse('toggle');
    $('#collapseTwo').collapse('toggle');
    $('#spinner').show();
    var url = "page_size="+document.getElementsByName("page_size")[0].value+"&resource=";
    if (document.getElementsByName("resource")[0].checked)
      url += "sample";
    else
      url += "chemicalanalysis";
    var minerals = $("#selected-mineral option:selected");
    for(var a = 0; a < minerals.length; a++)
      if(minerals[a].selected && minerals[a].value !== "")
        url += "&minerals="+minerals[a].value;
    var oxides = $("#selected-oxide option:selected");
    for(var a = 0; a < oxides.length; a++)
      if(oxides[a].selected && oxides[a].value !== "")
        url += "&oxides="+oxides[a].value;
    if (document.getElementsByName("oxides_and")[0].checked && oxides.length)
      url += "&oxides_and=True";
    var elements = $("#selected-element option:selected");
    for(var a = 0; a < elements.length; a++)
      if(elements[a].selected && elements[a].value !== "")
        url += "&elements="+elements[a].value;
    if (document.getElementsByName("elements_and")[0].checked && elements.length)
      url += "&elements_and=True";
    $.ajax({
      type: $('#content').attr('method'),
      url: $('#content').attr('action'),
      data: url,
      success: function (data) {
        $("#results").html("");
        $("#results").html(data);
        $('#spinner').hide();
        if(document.getElementsByTagName("header")[1])
          document.getElementsByTagName("header")[1].innerHTML = "";
      },
      error: function(data) {
        $("#results").html("Error");
        $('#spinner').hide();
      }
    });
    return false;
  });

  $('.btn-toggle').click(function() {
    $(this).find('.btn').toggleClass('active');  
    $(this).find('.btn').toggleClass('btn-primary');
    $(this).find('.btn').toggleClass('btn-default');
  });
});

// MINERALS
function updateMineral()
{
  var searchOptions = document.getElementById("search-options-minerals");
  searchOptions.innerHTML = "";

  if($("#selected-mineral option:selected").length)
  {
    searchOptions.innerHTML += "<div class = 'summary-title'><h4>Mineral</h4><a onclick='clearMineral()' class='clear-title' href='#'>Clear</a></div>";
    for(var a = 0; a < $("#selected-mineral option:selected").length; a++)
    {
      if($("#selected-mineral option:selected")[a].selected)
        var nextMineral = $("#selected-mineral option:selected")[a].innerHTML + ", ";
      if(nextMineral !== ", ")
        searchOptions.innerHTML += nextMineral;
    }
    var s = searchOptions.innerHTML;
    searchOptions.innerHTML = s.slice(0, -2);
    searchOptions.innerHTML += "<br>";
  }
}
function clearMineral()
{
  var searchOptions = document.getElementById("search-options-minerals");
  searchOptions.innerHTML = "";
  $("#mineral-select .chosen-select").val('').trigger("chosen:updated");
}

// ELEMENTS
function updateElement()
{
  var searchOptions = document.getElementById("search-options-elements");
  searchOptions.innerHTML = "";

  if($("#selected-element option:selected").length)
  {
    searchOptions.innerHTML += "<div class = 'summary-title'><h4>Elements </h4><a onclick='clearElement()' class='clear-title' href='#'>Clear</a></div>";
    for(var a = 0; a < $("#selected-element option:selected").length; a++)
    {
      if($("#selected-element option:selected")[a].selected)
        var nextElement = $("#selected-element option:selected")[a].innerHTML + ", ";
      if(nextElement !== ", ")
        searchOptions.innerHTML += nextElement;
    }
    var s = searchOptions.innerHTML;
    searchOptions.innerHTML = s.slice(0, -2);
    searchOptions.innerHTML += "<br>";
  }
}
function clearElement()
{
  var searchOptions = document.getElementById("search-options-elements");
  searchOptions.innerHTML = "";
  $("#element-select .chosen-select").val('').trigger("chosen:updated");
}

// OXIDES
function updateOxide()
{
  var searchOptions = document.getElementById("search-options-oxides");
  searchOptions.innerHTML = "";

  if($("#selected-oxide option:selected").length)
  {
    searchOptions.innerHTML += "<div class = 'summary-title'><h4>Oxides </h4><a onclick='clearOxide()' class='clear-title' href='#'>Clear</a></div>";
    for(var a = 0; a < $("#selected-oxide option:selected").length; a++)
    {
      if($("#selected-oxide option:selected")[a].selected)
        var nextOxide = $("#selected-oxide option:selected")[a].innerHTML + ", ";
      if(nextOxide !== ", ")
        searchOptions.innerHTML += nextOxide;
    }
    var s = searchOptions.innerHTML;
    searchOptions.innerHTML = s.slice(0, -2);
    searchOptions.innerHTML += "<br>";
  }
}
function clearOxide()
{
  var searchOptions = document.getElementById("search-options-oxides");
  searchOptions.innerHTML = "";
  $("#oxide-select .chosen-select").val('').trigger("chosen:updated");
}

function clearAll()
{
  clearMineral();
  clearElement();
  clearOxide();
}
</script>
{% endblock %}
