{% extends "base.html" %}

{% block title %}
<h4>
  <a href="{{ url_for('sample', id=analysis.sample_id) }}">Sample {{ analysis.sample }}</a> / 
  <a href="{{ url_for('subsample', id=analysis.subsample_id) }}">Subsample {{ analysis.subsample }}</a> / 
  Chemical Analysis Point {{ analysis.spot_id }}
  {% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_chemical_analysis', id=analysis.id, subsample_id=analysis.subsample_id) }}">Edit Chemical Analysis</a></span>{% endif %}
</h4>
{% endblock %}

{% block body %}
<div class="table-responsive">
  <table id="chemicalanalysisview_table" class="table">
    <tbody>    
      <tr>
        <td class="sample_label">Owner</td>
        <td class="sample_value">{% if analysis.owner %}{{ analysis.owner }}{% endif %}</td>
      </tr>      
<!--       <tr>
        <td class="sample_label">Public</td>
        <td class="sample_value">{% if analysis.public_data %}Yes{% else %}No{% endif %}</td>
      </tr>  -->         
      <tr>
        <td class="sample_label">Image</td>
        {% if analysis.reference_image and analysis.reference_image.public_data %}<td><img id="reference_image" src={{ analysis.reference_image.image }} title="Click to expand" style="height: 100px;" onclick="expandImage();">

          {% else %}
        <td class="sample_value">No Public Image</td>
        {% endif %}
      </tr>
      <tr>
        <td class="sample_label">Analysis Method</td>
        <td class="sample_value">{% if analysis.analysis_method %}{{ analysis.analysis_method }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Analysis Location</td>
        <td class="sample_value">{% if analysis.where_done %}{{ analysis.where_done }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Analyst</td>
        <td class="sample_value">{% if analysis.analyst %}{{ analysis.analyst }}{% endif %}</td>
      </tr>          
      <tr>
        <td class="sample_label">Description</td>
        <td class="sample_value">{% if analysis.description %}{{ analysis.description }}{% endif %}</td>
      </tr>          
      <tr>
        <td class="sample_label">Analysis Material</td>
        <td class="sample_value">{% if analysis.mineral %}{{ analysis.mineral }}{% endif %}</td>
      </tr>          
      <tr>
        <td class="sample_label">Total</td>
        <td class="sample_value">{% if analysis.total != None %}{{ analysis.total }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Reference X</td>
        <td class="sample_value">{% if analysis.reference_x != None %}{{ analysis.reference_x }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Reference Y</td>
        <td class="sample_value">{% if analysis.reference_y != None %}{{ analysis.reference_y }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Stage X</td>
        <td class="sample_value">{% if analysis.stage_x != None %}{{ analysis.stage_x }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Stage Y</td>
        <td class="sample_value">{% if analysis.stage_y != None %}{{ analysis.stage_y }}{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" style="text-align:center;float:left;padding:0px 1% 0px 5%">
  <table id="chem_elements" class="table">
    <caption><h4>Elements</h4></caption>
    <thead>
      <tr>
        <th>Element</th>
        <th>wt%</th>
      </tr>
    </thead>
    <tbody>
      {% if analysis.elements %}{% for element in analysis.elements %}
      <tr>
        <td>{{ element.symbol }}</td>
        <td>{{ element.amount }}</td>
      </tr>
      {% endfor %}{% endif %}
    </tbody>
  </table>
</div>

<div class="table-responsive" style="text-align:center;float:left;padding:0px 5% 0px 1%">
  <table id="chem_oxides" class="table">
    <caption><h4>Oxides</h4></caption>
    <thead>
      <tr>
        <th>Oxide</th>
        <th>wt%</th>
      </tr>
    </thead>
    <tbody>
      {% if analysis.oxides %}{% for oxide in analysis.oxides %}
      <tr>
        <td>{{ oxide.species }}</td>
        <td>{{ oxide.amount|round(4) }}</td>
      </tr>
      {% endfor %}{% endif %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function()
{
  $('#chem_elements').dataTable();
  $('#chem_oxides').dataTable();
});

function expandImage(){
  var size = "100%";
  var tooltip = "Click to shrink";
  var image = document.getElementById("reference_image");
  if(image.style.height !== "100px"){
    size = "100px";
    tooltip = "Click to expand";
  }
  image.style = "height: " + size + ";";
  image.title = tooltip;

  var width = image.clientWidth;
  if(width > 640){
  	image.style = "width: 640px;";
  }
  if(image.clientHeight > 500){
  	image.style = "height: 500px;";
  }

}
</script>
{% endblock %}
