{% block body %}
<div class = "table-responsive">
  <table id="samplelist" class="table">
    <thead>
      <tr>
        <th>Point Number</th>
        <th>Public Data</th>
        <th>Analysis Method</th>
        <th>Analysis Material</th>
        <th>Location</th>
        <th>Analyst</th>
        <th>Analysis Date</th>
        <th>Reference X</th>
        <th>Reference Y</th>
        <th>Total</th>
    </thead>
    <tbody>
      {% if total %}
      <p>Total: {{ total }}</p>
      {% endif %}
      {% if runningtotal %}
      <p>Running total: {{ runningtotal }}</p>
      {% endif %}
      {% for analysis in chemical_analyses %}
      <tr>
        <td td class="sample_value"><a href="{{ url_for('chemical_analysis', id=analysis.chemical_analysis_id) }}" target="_blank" >{{ analysis.spot_id }}</a></td>
        <td class="sample_value">{{ analysis.public_data }}</td>
        <td class="sample_value">{{ analysis.analysis_method }}</td>
        <td class="sample_value">{{ analysis.mineral__name }}</td>
        <td class="sample_value">{{ analysis.where_done }}</td>
        <td class="sample_value">{{ analysis.analyst }}</td>
        {% if analysis.analysis_date != '' %}
          <td class="sample_value">{{ analysis.analysis_date }}</td>
        {% endif %}
        <td class="sample_value">{{ analysis.reference_x }}</td>
        <td class="sample_value">{{ analysis.reference_y }}</td>
        <td class="sample_value">{{ analysis.total }}</td>
      </tr>
      {%endfor%}
    </tbody>
    </thead>
  </table>
</div> <!-- table-responsive -->
&lt;&lt; <a class="chem-analyses-pagination" href="{{ first_page }}">First</a>
{% if prev_url %}
  &nbsp;&nbsp;&lt; <a class="chem-analyses-pagination" href="{{ prev_url }}">Prev</a>
{% endif %}
&nbsp;&nbsp;|
{% if next_url %}
  &nbsp;&nbsp; <a class="chem-analyses-pagination" href="{{ next_url }}">Next</a> &gt;
{% endif %}
&nbsp;&nbsp; <a class="chem-analyses-pagination" href="{{ last_page }}">Last</a> &gt;&gt;

<script>
//Ajax call for first, last, next and previous chem analyses
$('.chem-analyses-pagination').click(function (event) 
{
 if(document.URL.indexOf("search") !== -1)
 {
  console.log(document.URL.indexOf("search"));
   event.preventDefault(); 
   var url = $(this).attr('href');
    $('#spinner').show();
        $.ajax({
      type: "GET",
            url: url,
            success: function (data) {
                $("#results").html(data);
                $('#spinner').hide();
            },
            error: function(data) {
                $("#results").html("Error");
                $('#spinner').hide();
            }
        });
        return false;
  } //endif
  else
   window.location = url;
 });
</script>
{% endblock %}
