
{% extends "base.html" %}

  <body>
      {% block title %}
        <h3> Chemical Analysis {{data.spot_id}}</h3>
      {% endblock %}

      {% block body %}
<div class = "table-responsive">
      <table id="chemicalanalysisview_table" class="table">
        <tbody>
          <tr>
            <td class="sample_label">Sample</td>
              <td class="sample_value"><a href="{{ url_for('sample', id=data.sample_id) }}" target="_blank">{% if data.sample_id %}{{ data.sample_number }}{% endif %}</a></td>
          </tr>          
          <tr>
            <td class="sample_label">Subsample</td>
              <td class="sample_value"><a href="{{ url_for('subsample', id=data.subsample_id) }}" target="_blank">{% if data.subsample_id %}{{ data.subsample_number }}{% endif %}</a></td>
          </tr>          
          <tr>
            <td class="sample_label">Owner</td>
              <td class="sample_value">{% if data.username %}{{data.username}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Point Number</td>
              <td class="sample_value">{% if data.spot_id %}{{data.spot_id}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Public</td>
              <td class="sample_value">{% if data.public_data %}{{data.public_data}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Image</td>
              <td class="sample_value">No Image</td>
          </tr>
          <tr>
            <td class="sample_label">Analysis Method</td>
              <td class="sample_value">{% if data.analysis_method %}{{data.analysis_method}}{% endif %}</td>
          </tr>
          <tr>
            <td class="sample_label">Analysis Location</td>
              <td class="sample_value"></td>
          </tr>
          <tr>
            <td class="sample_label">Analyst</td>
              <td class="sample_value">{% if data.analyst %}{{data.analyst}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Description</td>
              <td class="sample_value">{% if data.description %}{{data.description}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Analysis Material</td>
              <td class="sample_value">{% if data.analysis_material %}{{data.analysis_material}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Total</td>
              <td class="sample_value">{% if data.total %}{{data.total}}{% endif %}</td>
          </tr>          
          <tr>
            <td class="sample_label">Stage X</td>
              <td class="sample_value">{% if data.stage_x %}{{data.stage_x}}{% endif %}</td>
          </tr>
          <tr>
            <td class="sample_label">Stage Y</td>
              <td class="sample_value">{% if data.stage_y %}{{data.stage_y}}{% endif %}</td>
          </tr>
          <!-- {% if api_key %}
          <tr>
              <p><a href="{{ url_for('edit_chemical', id = data.chemical_analysis_id) }}" target="_blank">Edit</a></p>
          </tr>
          {% endif %} -->
        </table>
          <div id="chem_elements">
            <h4>Oxides</h4>
            <table id="chem_oxides_table" class="table">
              <thead>
                <tr>
                  <th>wt%</th>
                  <th>Oxide</th>
                </tr>
              </thead>
              <tbody>
                {%for oxide in oxide_list%}
                <tr>
                  <td>{{oxide.weight}}</td>
                  <td>{{oxide.species}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>

            <h4>Elements</h4>
            <table id="chem_elements_table" class="table">
              <thead>
                <tr>
                  <th>wt%</th>
                  <th>Element</th>
                </tr>
              </thead>
              <tbody>
                {%for element in element_list%}
                <tr>
                  <td>{{element.weight}}</td>
                  <td>{{element.name}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>

</div> <!-- table-responsive -->
          </div>
      {% endblock %}
