{% if extends %}{% extends "base.html" %}{% endif %}

{% block body %}
<div class="header-buttons">
      <span style="float:left; color:gray">Total: {{ total }}</span>
      <span style="float:right"><a href="#collapseOne" onclick="exportToCsv()">Export data to CSV file</a></span>
      <br>
</div>
<div class="table-responsive">
  <table id="samplelist" class="table">
    <thead>
      <tr>
        {% for name in field_names %}
          <th> {{ name }} {% if name == sorting_name %}▼ {% endif %} </th>
        {% endfor %}
      </tr>      
    </thead>
    <tbody>
      {% for analysis in chemical_analyses %}
        <tr>
        {% for n in field_names %}
          <!-- linked -->
          {% if n == 'Sample Number' %}
            <td id="url" class="sample_label"><a href="{{ url_for('sample', id=analysis.sample_id) }}" target="_blank">{{ analysis.sample }}</a></td>
          {% elif n == 'Subsample' %}
            <td id="url" class="sample_label"><a href="{{ url_for('subsample', id=analysis.subsample_id) }}" target="_blank">{{ analysis.subsample }}</a></td>
          {% elif n == 'Point' %}
            <td class="sample_value"><a href="{{ url_for('chemical_analysis', id=analysis.id) }}" target="_blank">{{ analysis.spot_id }}</a></td>
          <!-- specific lists -->
          {% elif n == 'Elements' %}
            <td class="sample_mineral sample_value">
              {% if analysis.elements %}
              {{ analysis.elements.0.symbol }} {{ analysis.elements.0.amount }} ...
              <div class="full_list">
                {% for e in analysis.elements %}
                {{ e.symbol }} {{ e.amount }}<br>
                {% endfor %}
              </div>
              {% endif %}
            </td>
          {% elif n == 'Oxides' %}
            <td class="sample_mineral sample_value">
              {% if analysis.oxides %}
              {{ analysis.oxides.0.species }} {{ analysis.oxides.0.amount }} ...
              <div class="full_list">
                {% for o in analysis.oxides %}
                {{ o.species }} {{ o.amount }}<br>
                {% endfor %}
              </div>
              {% endif %}
            </td>
            <!-- need specific 0 and null -->
           {% elif (n == 'Reference X') or (n == 'Reference Y') or (n == 'Stage X') or (n == 'Stage Y') %}
              <td class="sample-value">{% if analysis[fields_dict[n]] != None %}{{ analysis[fields_dict[n]] }}{% endif %}</td>
            <!-- all others -->
           {% else %}
             <td class="sample_value">{% if analysis[fields_dict[n]] %}{{ analysis[fields_dict[n]] }}{% endif %}</td>
           {% endif %}
           
        {% endfor %}
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
</div>

{% if page_num != 1 %}
&lt;&lt; <a class="samples-pagination" href="{{ first_page }}">First</a>
{% if prev_url %}
  &nbsp;&nbsp;&lt; <a class="samples-pagination" href="{{ prev_url }}">Prev</a>
{% endif %}
{% endif %}
{% if prev_url and next_url %}
&nbsp;&nbsp;|
{% endif %}
{% if next_url %}
  &nbsp;&nbsp; <a class="samples-pagination" href="{{ next_url }}">Next</a> &gt;
&nbsp;&nbsp; <a class="samples-pagination" href="{{ last_page }}">Last</a> &gt;&gt;
{% endif %}

<script>
// AJAX PAGINATION CALLS
$('.samples-pagination').click(function (event) 
{ 
  if(document.URL.indexOf("search") !== -1)
  {
    event.preventDefault(); 
    var url = $(this).attr('href');
    $('#spinner').show();
    $.ajax({
      type: "GET",
      url: url,
      success: function (data) {
        $("#results").html(data);
        $('#spinner').hide();
      },
      error: function(data) {
        $("#results").html("Error");
        $('#spinner').hide();
      }
    });
    return false;
  }
  else
    window.location = url;
});

// EXPORT DATA TO CSV
function exportToCsv() {
  if ('{{ auth_token }}' == 'None') {
    var ans = confirm("You must be logged in to export data to CSV. Redirect to login screen?");
    if (ans)
      window.location.href = '{{ url_for('login') }}';
    return;
  }

  var filename = prompt("Please enter a filename:","search_results.csv");
  if (filename.substring(filename.length-4) != ".csv")
    filename += ".csv";

  window.location.href = '{{ csv_url }}' + '&filename=' + filename;
}
</script>
{% endblock %}
