{% extends "base.html" %}
{% block body %}
<div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="/static/images/ajax-loader.gif" alt="Loading"/>
</div>

  <div id = "search-options" class="panel panel-default">
    <div id = "search-panel" class="panel-heading">
      <h4 class="panel-title">
        <a class='accordion-toggle' data-toggle="collapse" onclick="$('#collapseOne').collapse('toggle'); $('#collapseTwo').collapse('toggle');" data-parent="#accordion" href="">
          Search Options
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        
<ul class="nav nav-tabs" id="myTab">
  <li href="#rocktypes"><a href="#rocktypes">Rock Types</a></li>
  <li><a href="#metgrade">Metamorphic Grade</a></li>
  <li><a id = "location-tab" href="#location">Location</a></li>
  <li><a href="#minerals">Minerals</a></li>
  <li class= "active"><a href="#chemistry">Chemistry</a></li>
  <li><a href="#provenance">Provenance</a></li>
</ul>
<div id = "form-container">
    <form action="" method="get" id='content' class="tab-content">

      <div class="tab-pane" id="rocktypes">
        <ul>
         <h3>Rock Types</h3>
         <div id="rocktypelist">
         {% for rock_type in rock_types %}
         <input type="checkbox" class="rocktype" onchange="updateRockTypes()"  name="rock_type__rock_type__in"         
         value="{{rock_type.rock_type}}">{{ rock_type.rock_type }}
         {% endfor %}

         <br><br>
         </div><!-- control-group-->
        </ul>
      </div><!-- rocktypes -->
      
      <div class="tab-pane" id="metgrade">
        <ul>
         <h3>Metamorphic Grade</h3>
         <div id = "metgrade-checkboxes">
         {% for grade in metamorphic_grades %}
         <input type="checkbox" class = "metgrade" onchange="updateMetGrades()"
  name="metamorphic_grades__name__in" value="{{ grade }}">
         {{ grade }}
         {% endfor %}
         </div><!-- metgrade checkboxes -->
        </ul>
      </div>
      

      <div class="tab-pane" id="location">
       <ul>
        <h3>Location</h3>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#mapselect" data-toggle="tab">Map</a></li>
        <li><a  href="#location-regions" data-toggle="tab">Region</a></li>

        <!--dropdown has same tab selection above, showing with js how to select a tab dynamically-->

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="mapselect"><br><br>
        <div id="map-canvas"></div>
        <p id ="map-instructions">Draw a selection on the map to toggle coordinates below.</p><br>
        <label for="bounds">NE Lat: </label>
        <input type="text" onchange="updateBounds()" placeholder="Enter lat/long value" id="ne-lat" class="latlong" > 
        
        <label for="bounds">NE Long: </label>
        <input type="text" onchange="updateBounds()" placeholder="Enter lat/long value" id="ne-long" class="latlong" ><br>

        <label for="bounds">SW Lat: </label>
        <input type="text" onchange="updateBounds()" placeholder="Enter lat/long value" id="sw-lat" class="latlong" > 

        <label for="bounds">SW Long: </label>
        <input type="text" onchange="updateBounds()" placeholder="Enter lat/long value" id="sw-long" class="latlong" ><br><br>

<input type="hidden" id="location-bound" name="location__contained" value="">
<!-- <input type="hidden" id="sw-location-bound" name="samples__location__contained" value=""> -->
<div class="clear"></div>
       </div><!--end mapselect -->
         <div class= "tab-pane" id = "location-regions"><br><br>
        <label for="regions__name">Regions: </label><br>
        <select onchange="updateBounds()" id="selected-regions" multiple class="chosen-select" name="regions__name__in">
        {% for region in regions %}
             <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
        </select>
        <br>

        <label for="country__name">Country: </label><br>
        <select onchange="updateBounds()" id="selected-countries" multiple class="chosen-select" name="country__in">
        {% for c in countries %}
             <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
        </select>
        <br>
        <label for="metamophic_regions__name">Metamorphic Regions: </label><br>
        <select onchange="updateBounds()" multiple class="chosen-select" id = "selected-metregions" name="metamorphic_regions__name__in">
        {% for region in metamorphic_regions %}
             <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
        </select>
        </div> <!-- end location-regions -->
    </div>

       </ul>
      </div>
      
      <div class="tab-pane" id="minerals"><br>
       <!--<div id ="mineral-tree"></div><br>
       <div id = "selected-minerals"></div>-->
      </div>
      


   <div class="tab-pane active" id="chemistry">
      <h3>Chemistry</h3>
        <div id="chemanalysisids">
        <input type="hidden" name="treefrog" value="treefrog">
        <input type="hidden" name="squirrel" value="squirrel">
        </div>
        
        <div id = "chemistry-forms">
        <div id= "form1">
        <input type="hidden" name="squirrel" value="squirrel">
        
        <select class="elementoroxide" onchange="renderElementOxideList(this)">
        <option selected="selected" value="element">Element</option>
        <option value="oxide">Oxide</option>
        </select>
         <br>
        <div class = "elementoxidelist">
        <select name="elements__element_id__in" onchange="" class="">
        {% for element in elements %}
             <option value="{{ element.element_id }}">{{ element.name }}</option>
        {% endfor %}
        </select>
        </div>

       <a class="add" onclick="addChemistryRow()">Add</a>
       <a class="remove" onclick="removeChemistryRow(this.parentNode.id)">Remove</a>
       <br>
       </div> <!--end form1 -->
       </div> <!--end chemistry-forms -->
       
       <label for="mineral-tree">Minerals: </label>
       <div id ="mineral-tree"></div><br>
       <div id = "selected-minerals"></div>

      </div><!-- end chemistry-->





<input type="hidden" id="search_filters" name="search_filters" value="samples">


<div class="clear"></div>


</div><!--end form container-->
  {% if error %}
      <p style="color: red;">Please submit a search term.</p>
  {% endif %}
      </div>
    </div>
  </div>

<div id="search-summary" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class='accordion-toggle' data-toggle="collapse" onclick="$('#collapseOne').collapse('toggle'); $('#collapseTwo').collapse('toggle');" data-parent="#accordion" href="">
          Search Summary
        </a>
      </h4>
      <a id= "clearAll" onclick="clearAll()">Clear All</a>
    
     </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
       <div class="panel-body">
          <p id= "instructions">Set your search criteria by selecting from the categories on the left.<br></p>
          <div id = "search-options-rock-type"></div>
          <div id = "search-options-metgrades"></div>
          <div id = "search-options-location"></div>
	  <div id = "search-options-minerals"></div>
          <div id = "search-options-chemistry"></div>
          <div id = "search-options-provenance"></div>
                <div id = "form-submit">


<div class = "text-center">
    <div class="btn-group" data-toggle="buttons" style="margin:0 auto;">
        <label class="btn btn-primary active">
            <input type="radio" name="resource" value="sample" id="option1" checked="checked"> View Samples
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="resource" value="chemicalanalysis" id="option2"> View Chemical Analyses
        </label>
    </div>
</div>

</div>

<br>
       <input type="submit" value="Search">
      </div>
       </div>
    </div><!--end collapsetwo -->
</div>

  </form>  <!-- tabs -->

<div class="clear"></div>

<div id = "results"></div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
<script src="/static/js/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/chosen.min.css">
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src= "http://documentcloud.github.io/underscore/underscore.js"></script>


<link rel="stylesheet" href="/static/css/style.min.css">
<script src="/static/js/jstree.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">
<script src="/static/css/bootstrap-switch.min.js"></script>

<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});

$('#location-tab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});

//GLOBAL VARS
var currentOverlay = null;
var chemistryRows = 2;

//ON READY FUNCTION
$(function()
{
 //Group rock types
 var originalHTML = $("#rocktypelist :input");
 var newInnerHTML = '';
 var a;
 var b = 0;
 var div;
 var rocktypes = document.createElement('div');

 for (a = 0; a < originalHTML.length; a++)
 {
  if(b == 0)
  {
   div = document.createElement('div');
   div.className = 'rocktypecheckboxgroup';
  }
  var input = document.createElement('input');
  $(input).className = "rocktype";
  $(input).attr('type','checkbox');
  $(input).attr('onchange','updateRockTypes()');
  $(input).attr('name','rock_type__rock_type__in');
  var val = $(originalHTML[a]).attr('value');
  $(input).attr('value', val);

 
  div.appendChild(input);
  div.innerHTML += val += "<br>";

  if(b == 4 || a == originalHTML.length - 1)
  {
   rocktypes.appendChild(div);
   b = 0;
  }
  else
   b++;
 }
 document.getElementById('rocktypelist').innerHTML = '';
 document.getElementById('rocktypelist').appendChild(rocktypes);

//Group metamorphic grades
 originalHTML = $("#metgrade-checkboxes :input");
 newInnerHTML = '';
 b = 0;
 var metgrades = document.createElement('div');

 for (a = 0; a < originalHTML.length; a++)
 {
  if(b == 0)
  {
   div = document.createElement('div');
   div.className = 'metgradecheckboxgroup';
  }
  var input = document.createElement('input');
  $(input).className = "metgrade";
  $(input).attr('type','checkbox');
  $(input).attr('onchange','updateMetGrades()');
  $(input).attr('name','metamorphic_grades__name__in');
  var val = $(originalHTML[a]).attr('value');
  $(input).attr('value', val);

  div.appendChild(input);
  div.innerHTML += val += "<br>";

  if(b == 4 || a == originalHTML.length - 1)
  {
   metgrades.appendChild(div);
   b = 0;
  }
  else
   b++;
 }
 document.getElementById('metgrade-checkboxes').innerHTML = '';
 document.getElementById('metgrade-checkboxes').appendChild(metgrades);


//GOOGLE MAP RENDERING
function initialize()
{
 var mapCenter;

 var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 5,
    center: new google.maps.LatLng(44, -74),
    mapTypeId: google.maps.MapTypeId.ROADMAP
 });

 if (navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(function (position) {
         initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
         map.setCenter(initialLocation);
     });
 }

 google.maps.event.addListenerOnce(map, 'idle', function() {
    google.maps.event.trigger(map, 'resize');
});

//SET UP DRAWING MANAGER
var drawingManager = new google.maps.drawing.DrawingManager({
  drawingMode: google.maps.drawing.OverlayType.MARKER,
  drawingControl: true,
  drawingControlOptions: {
    position: google.maps.ControlPosition.TOP_CENTER,
    drawingModes: [
      google.maps.drawing.OverlayType.RECTANGLE
    ]
  },
  circleOptions: {
    fillColor: '#ffff00',
    fillOpacity: 1,
    strokeWeight: 5,
    clickable: false,
    zIndex: 1,
    editable: true
  }
}); //end drawing manager  

drawingManager.setMap(map); 

currentOverlay = new google.maps.Rectangle({
    bounds: null,
    editable: true,
    draggable: true
  });

  currentOverlay.setMap(map);

//Clear map button
var homeControlDiv = document.createElement('div');
  var homeControl = new HomeControl(homeControlDiv, map);

  homeControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);

//DRAW COMPLETE LISTENER
google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
  if (event.type == google.maps.drawing.OverlayType.RECTANGLE) {
  {
   //Set draggable and editable
   event.overlay.setEditable(true);
   event.overlay.setDraggable(true);

   //Remove last overlay
   if(currentOverlay)
    currentOverlay.setMap(null);

   //Set current overlay
   currentOverlay = event.overlay;

   //Update bounds for drag and edit
   google.maps.event.addListener(currentOverlay, "bounds_changed", function() 
   {
    console.log("BOUNDS CHANGED");
   var ne = event.overlay.getBounds().getNorthEast();
   var sw = event.overlay.getBounds().getSouthWest();
   document.getElementById("ne-lat").value = ne.lat().toString();
   document.getElementById("ne-long").value = ne.lng().toString();
   document.getElementById("sw-lat").value = sw.lat().toString();
   document.getElementById("sw-long").value = sw.lng().toString();

   document.getElementById("location-bound").value = sw.lng() + "," + sw.lat() + ","+ ne.lng() + "," + ne.lat();

updateLocation(); 
  //Update Location in search summary
  var searchOptions = document.getElementById("search-options-location");
  searchOptions.innerHTML = "<div class='summary-title'><h4>Location</h4><a onclick='clearBounds()' class='clear-title'>Clear</a></div>";

  searchOptions.innerHTML += "<b>NE:</b> [" + ne.lat().toFixed(2).toString() + ", " + ne.lng().toFixed(2).toString() + "] <b>SW:</b> [" + sw.lat().toFixed(2).toString() + ", " + sw.lng().toFixed(2).toString() + "]<br>";

  updateLocation();
   });

   //Update bounds for creation
   var ne = event.overlay.getBounds().getNorthEast();
   var sw = event.overlay.getBounds().getSouthWest();
   document.getElementById("ne-lat").value = ne.lat().toString();
   document.getElementById("ne-long").value = ne.lng().toString();
   document.getElementById("sw-lat").value = sw.lat().toString();
   document.getElementById("sw-long").value = sw.lng().toString();

   document.getElementById("location-bound").value = sw.lng() + "," + sw.lat() + ","+ ne.lng() + "," + ne.lat();

  //Update Location in search summary
  var searchOptions = document.getElementById("search-options-location");
  searchOptions.innerHTML = "";
  searchOptions.innerHTML = "<div class='summary-title'><h4>Location</h4><a onclick='clearBounds()' class='clear-title'>Clear</a></div>";


  searchOptions.innerHTML += "<b>NE:</b> [" + ne.lat().toFixed(2).toString() + ", " + ne.lng().toFixed(2).toString() + "] <b>SW:</b> [" + sw.lat().toFixed(2).toString() + ", " + sw.lng().toFixed(2).toString() + "]<br>";

  updateLocation();

   //Update POINT 4326 values to submit
   //SRID=4326;POINT(-118.0488106 33.9346343)
   //var upperbound = 'SRID=4326;POINT(' + ne.lat().toString() + ' ' +  ne.lng().toString() + ')';
   //var lowerbound = 'SRID=4326;POINT(' + sw.lat().toString() + ' ' +  sw.lng().toString() + ')';

//   var upperbound = "{\"type\": \"Point\", \"coordinates\": [" + ne.lat().toString() + "," + ne.lng().toString() + "]}";
//   var lowerbound = "{\"type\": \"Point\", \"coordinates\": [" + sw.lat().toString() + "," + sw.lng().toString() + "]}";
  
  //POINT (-71.8552169799804972 44.0474815368651988)
  //var upperbound = "POINT(" + ne.lat().toString() + " " + ne.lng().toString() + ")";
  //var lowerbound = "POINT(" + sw.lat().toString() + " " + sw.lng().toString() + ")";
  
 /*
 { "type": "Polygon",
    "coordinates": [
      [ [100.0, 0.0], [101.0, 0.0], [101.0, 1.0], [100.0, 1.0], [100.0, 0.0] ]
      ]
   }
 */

  //http://stackoverflow.com/questions/15536241/how-to-get-4-vertex-coordinates-from-gmaps-rectangle-overlay
  var nw = new google.maps.LatLng(ne.lat(),sw.lng());
  var se = new google.maps.LatLng(sw.lat(),ne.lng());
  var polygon =  sw.lng().toString() + ',' + sw.lat().toString() + ',' + ne.lng().toString() + ',' + ne.lat().toString();

  

   //document.getElementById("ne-location-bound").value = upperbound;
   //document.getElementById("sw-location-bound").value = lowerbound;
   document.getElementById("location-bound").value = polygon;
   console.log(polygon);
   //console.log(upperbound);
   //console.log( lowerbound);

  }

  }
});
}

//Initialize map listener
google.maps.event.addDomListener(document.getElementById("location-tab"), 'click', initialize);

//Date picker
$( "#date-start" ).datepicker();
$( "#date-end" ).datepicker();

//Chosen-select plugin activate
$(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: "Oops, nothing found!",
    width: "50%"
  });

var mineralnodes = {{ mineral_nodes|safe }};
console.log(mineralnodes);

$('#mineral-tree').jstree({ 'core' : {
    'data' : mineralnodes
}
,

"checkbox" : {
      "keep_selected_style" : false
    },
    "plugins" : [ "checkbox" ]
 });

//CHEM MINERAL TREE
$('#chem-tree').jstree({ 'core' : {
    'data' : mineralnodes
}
,

"checkbox" : {
      "keep_selected_style" : false
    },
    "plugins" : [ "checkbox" ]
 });

//mineral tree on change
$('#mineral-tree').on("changed.jstree", function () 
{
  var mids = $('#mineral-tree').jstree('get_selected', true);
  //console.log(data.selected);
  /*
  document.getElementById("selected-minerals").innerHTML = "";
  console.log(document.getElementById("selected-minerals").innerHTML );
  var searchOptions = document.getElementById("search-options-minerals");
  searchOptions.innerHTML = "";
  if(mids.length > 0)
   searchOptions.innerHTML = "<div class='summary-title'><h4>Minerals</h4><a onclick='clearMinerals()' class='clear-title'>Clear</a></div>";
*/
  for(var a = 0; a < mids.length; a++)
  {
   console.log(mids[a]);
   if(mids[a].original.mineral_id)
   {
    document.getElementById("selected-minerals").innerHTML += "<input name='minerals__in' type='hidden' value=" + mids[a].original.mineral_id + " >";   
    //searchOptions.innerHTML += mids[a].id + ", ";
   }
  }
});


//CHEM MINERAL TREE
$('#chem-mineral-tree').jstree({ 'core' : {
    'data' : mineralnodes
}
,

"checkbox" : {
      "keep_selected_style" : false
    },
    "plugins" : [ "checkbox" ]
 });

//mineral tree on change
/*$('#chem-mineral-tree').on("changed.jstree", function () 
{
 updateChemistry();
});*/


//CHEM MINERAL TREE
$('.chem-mineral-tree').jstree({ 'core' : {
    'data' : mineralnodes
}
,

"checkbox" : {
      "keep_selected_style" : false
    },
    "plugins" : [ "checkbox" ]
 });

var resultJSON = []; 
var resultIDs = [];

//Ajax call to update sample data
var frm = $('#content');
    frm.submit(function (e) {
     e.preventDefault();
    $('#spinner').show();
        //Do for each row of elem+min / ox+min data
        var a;
        for(a = 1; a < chemistryRows; a++)
        {
         var data = $('#form' + a + ' :input, #selected-minerals :input').serialize();
         console.log("DATA: " + data);
         $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: data,
            success: function (result) {
                console.log(result);
                console.log("FORM " + a + " DATA SUBMITTED");
                var res = JSON.parse(result);
                resultJSON.push(res);
                $('#spinner').hide();
            },
            async: false,
            error: function(data) {
                $("#results").html("Error");
                $('#spinner').hide();
            }
         }); //end ajax function
        } //end loop on chemistry rows

        var a;
        var resultIntersection;
        if(resultJSON.length)
         resultIntersection = resultJSON[0];

        for(a = 1; a < resultJSON.length; a++)
         resultIntersection = intersectionObjects(resultIntersection, resultJSON[a]);
        
        console.log("RESULT FINAL: " + JSON.stringify(resultIntersection));
        //Send result to template
        return false;
    }); //END form submit function

//Intersection functions
//Source : http://jsfiddle.net/luisperezphd/Tft23/
// intersectionObjects() for the intersection of objects
// using your equality function of choice

    function intersectionObjects2(a, b, areEqualFunction) {
        var Result = [];
        
        for(var i = 0; i < a.length; i++) {
            var aElement = a[i];
            var existsInB = _.any(b, function(bElement) { return areEqualFunction(bElement, aElement); });
            if(existsInB) {
                Result.push(aElement);
            }
        }
        
        return Result;
    }
    
    function intersectionObjects() {
        var Results = arguments[0];
        var LastArgument = arguments[arguments.length - 1];
        var ArrayCount = arguments.length;
        var areEqualFunction = _.isEqual;
        
        if(typeof LastArgument === "function") {
            areEqualFunction = LastArgument;
            ArrayCount--;
        }
        
        for(var i = 1; i < ArrayCount ; i++) {
            var array = arguments[i];
            Results = intersectionObjects2(Results, array, areEqualFunction);
            if(Results.length === 0) break;
        }
        return Results;
    } //end intersection functions

$('.btn-toggle').click(function() {
    $(this).find('.btn').toggleClass('active');  
    

   $(this).find('.btn').toggleClass('btn-primary');

    $(this).find('.btn').toggleClass('btn-default');
       
});

/*$('form').submit(function(){
	alert($(this["options"]).val());
    return false;
});*/

}); //END READY FUNCTION

//UPDATE BOUNDS
function updateBounds()
{
   var searchOptions = document.getElementById("search-options-location");
   searchOptions.innerHTML = "";

   var nelat = document.getElementById("ne-lat").value;
   var nelong = document.getElementById("ne-long").value;
   var swlat = document.getElementById("sw-lat").value;
   var swlong = document.getElementById("sw-long").value;

  if(!currentOverlay || $("#selected-regions option:selected").length || 
     $("#selected-countries option:selected").length || 
     $("#selected-metregions option:selected").length)
   searchOptions.innerHTML = "<div class='summary-title'><h4>Location</h4><a onclick='clearBounds()' class='clear-title'>Clear</a></div>";

  //Update Location
  if(currentOverlay.map !== null && currentOverlay.bounds !== null)
  {
   console.log("HERE");
   console.log("map is " + currentOverlay);
   //Update POINT 4326 values to submit
   //SRID=4326;POINT(-118.0488106 33.9346343)
   //var upperbound = 'SRID=4326;POINT(' + nelat + ' ' +  nelong + ')';
   //var lowerbound = 'SRID=4326;POINT(' + swlat + ' ' +  swlong + ')';
   var upperbound = "{'type': 'Point', 'coordinates': [" + nelat + "," + nelong + "]}";
   var lowerbound = "{'type': 'Point', 'coordinates': [" + swlat + "," + swlong + "]}";

  //se.lat = sw.lat
  //se.lng = ne.lng
  //nw.lat = ne.lat
  //nw.lng = sw.lng 

  console.log("CHANGED BOUND IS");
  console.log(polygon);
  document.getElementById("location-bound").value = polygon;

   searchOptions.innerHTML += "<b>NE:</b> [" + parseFloat(nelat).toFixed(2) + ", " + parseFloat(nelong).toFixed(2) + "] <b>SW:</b> [" + parseFloat(swlat).toFixed(2) + ", " + parseFloat(swlong).toFixed(2) + "]<br>";
  }



  updateLocation();
}

function updateChemistry()
{
 //Chemistry search options, selected chemistry minerals
 var searchOptions = document.getElementById("search-options-chemistry");
 var mids = $('#chem-mineral-tree').jstree('get_selected', true);

 //Clear search options summary
 searchOptions.innerHTML = "";

 //If elements, oxides, or minerals selected, update summary title
 //and set search-filter value to chemistry
 //else sest search-filter value to sample 
 if($("#selected-elements option:selected").length || $("#selected-oxides option:selected").length || mids.length > 0)
 {
  searchOptions.innerHTML = "<div class='summary-title'><h4>Chemistry</h4><a onclick='clearChemistry()' class='clear-title'>Clear</a></div>";
  document.getElementById("search_filters").value = "chemical_analyses"; 
 }
 else
  document.getElementById("search_filters").value = "samples"; 

  //Update elements in search summary
  var selectedElements = document.getElementById("selected-elements");
  if($("#selected-elements option:selected").length)
  {
   searchOptions.innerHTML += "<b>Elements:</b> ";
   for(var a = 0; a < selectedElements.options.length; a++)
   {
   if(selectedElements.options[a].selected)
    searchOptions.innerHTML += selectedElements.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update oxides in search summary
  var selectedOxides = document.getElementById("selected-oxides");
  if($("#selected-oxides option:selected").length)
  {
   searchOptions.innerHTML += "<b>Oxides:</b> ";
   for(var a = 0; a < selectedOxides.options.length; a++)
   {
   if(selectedOxides.options[a].selected)
    searchOptions.innerHTML += selectedOxides.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update minerals in ssearch summary
  document.getElementById("selected-chem-minerals").innerHTML = "";
  console.log(document.getElementById("selected-chem-minerals").innerHTML );
  if(mids.length > 0)
  searchOptions.innerHTML += "<b>Minerals:</b> ";
  for(var a = 0; a < mids.length; a++)
  {
   console.log(mids[a]);
   if(mids[a].original.mineral_id)
   {
    document.getElementById("selected-chem-minerals").innerHTML += "<input name='minerals__in' type='hidden' value=" + mids[a].original.mineral_id + " >";   
    searchOptions.innerHTML += mids[a].id + ", ";
   }
  }//end mineral update
}

function clearChemistry()
{
 $("#chemistry .chosen-select").val('').trigger("chosen:updated");
 clearChemMinerals();
 document.getElementById("search-options-chemistry").innerHTML = "";
}

function updateLocation()
{
 var searchOptions = document.getElementById("search-options-location");
//Update Region
  var selectedRegions = document.getElementById("selected-regions");
  if($("#selected-regions option:selected").length)
  {
   searchOptions.innerHTML += "<b>Regions:</b> ";
   for(var a = 0; a < selectedRegions.options.length; a++)
   {
   if(selectedRegions.options[a].selected)
    searchOptions.innerHTML += selectedRegions.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update Countries
  var selectedCountries = document.getElementById("selected-countries");
  if($("#selected-countries option:selected").length)
  {
   searchOptions.innerHTML += "<b>Countries:</b> ";
   for(var a = 0; a < selectedCountries.options.length; a++)
   {
   if(selectedCountries.options[a].selected)
    searchOptions.innerHTML += selectedCountries.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update Met Regions
  var selectedMetRegions = document.getElementById("selected-metregions");
  if($("#selected-metregions option:selected").length)
  {
   searchOptions.innerHTML += "<b>Metamorphic Regions:</b> ";
   for(var a = 0; a < selectedMetRegions.options.length; a++)
   {
   if(selectedMetRegions.options[a].selected)
    searchOptions.innerHTML += selectedMetRegions.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }
}

//UPDATE ROCK TYPES
function updateRockTypes()
{
 //Update Rock Types
 var searchOptions = document.getElementById("search-options-rock-type");
 searchOptions.innerHTML = "";
 var checkBoxes = document.getElementsByName("rock_type__rock_type__in");

 var checked = false;
  for(var i=0; i < checkBoxes.length;i++)
  if(checkBoxes[i].checked)         
   checked=true;
 if(checked)
 {
  searchOptions.innerHTML += "<div class = 'summary-title'><h4>Rock Types</h4><a onclick='clearRockTypes()' class='clear-title'>Clear</a></div>";
  for(var i=0; i < checkBoxes.length;i++)
  {  
   if(checkBoxes[i].checked)
   {         
   checked=false;
   console.log(checkBoxes[i].defaultValue);
   searchOptions.innerHTML += checkBoxes[i].defaultValue + ", ";
   }
  }
  var s = searchOptions.innerHTML;
  searchOptions.innerHTML = s.slice(0, -2);
 }
}

function updateMetGrades()
{
 //Update Metamorphic Grades
 var searchOptions = document.getElementById("search-options-metgrades");
 searchOptions.innerHTML = "";
 var checkBoxes = document.getElementsByName("metamorphic_grades__name__in");
 var checked = false;
 for(var i=0; i < checkBoxes.length;i++)
 if(checkBoxes[i].checked)         
  checked=true;
 if(checked)
 {
  searchOptions.innerHTML += "<div class = 'summary-title'><h4>Metamorphic Grades</h4><a onclick='clearMetGrades()' class='clear-title'>Clear</a></div>";
  for(var i=0; i < checkBoxes.length;i++)
  { 
   if(checkBoxes[i].checked)
   {         
    console.log(checkBoxes[i].defaultValue);
    searchOptions.innerHTML += checkBoxes[i].defaultValue;
    searchOptions.innerHTML += ', ';
   }
  }
  var s = searchOptions.innerHTML;
  searchOptions.innerHTML = s.slice(0, -2);

  console.log(s.slice(0, -1));
 }
}

//UPDATE PROVENANCES
function updateProvenance()
{
   var searchOptions = document.getElementById("search-options-provenance");
   searchOptions.innerHTML = "";

  if($("#selected-owners option:selected").length ||
     $("#selected-collectors option:selected").length ||
     $("#selected-reference option:selected").length ||
     $("#selected-number option:selected").length ||
     $("#selected-igsn option:selected").length ||
     $('#startdatevalue').val() || $('#enddatevalue').val())
   searchOptions.innerHTML += "<div class='summary-title'><h4>Provenance</h4><a onclick='clearProvenance()' class='clear-title'>Clear</a></div>";



  //Update Owners
  var selectedOwners = document.getElementById("selected-owners");
  if($("#selected-owners option:selected").length)
  {
   searchOptions.innerHTML += "<b>Owners:<b> ";
   for(var a = 0; a < selectedOwners.options.length; a++)
   {
   if(selectedOwners.options[a].selected)
    searchOptions.innerHTML += selectedOwners.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update Collectors
  var selectedCollectors = document.getElementById("selected-collectors");
  if($("#selected-collectors option:selected").length)
  {
   searchOptions.innerHTML += "<b>Collectors:</b> ";
   for(var a = 0; a < selectedCollectors.options.length; a++)
   {
   if(selectedCollectors.options[a].selected)
    searchOptions.innerHTML += selectedCollectors.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update References
  var selectedReferences = document.getElementById("selected-references");
  if($("#selected-references option:selected").length)
  {
   searchOptions.innerHTML += "<b>References:</b> ";
   for(var a = 0; a < selectedReferences.options.length; a++)
   {
   if(selectedReferences.options[a].selected)
    searchOptions.innerHTML += selectedReferences.options[a].innerHTML + ", ";
   }
   var s = searchOptions.innerHTML;
   searchOptions.innerHTML = s.slice(0, -2);
   searchOptions.innerHTML += "<br>";
  }

  //Update Number
  var selectedNumber = document.getElementById("selected-number");
  if($("#selected-number option:selected").length
    && $("#selected-number option:selected").text() != "Select sample number")
  {
   searchOptions.innerHTML += "<b>Number:</b> " + $("#selected-number option:selected").text() + "<br> ";
  }

  //Update IGSN
  var selectedIGSN = document.getElementById("selected-igsn");
  if($("#selected-igsn option:selected").length
     && $("#selected-igsn option:selected").text() != "Select IGSN")
  {
   searchOptions.innerHTML += "<b>IGSN:</b> " + $("#selected-igsn option:selected").text() + "<br> ";
  }

  //Update Date
  console.log($('#startdatevalue').val());
  if($('#startdatevalue').val()) 
   searchOptions.innerHTML += "<b>Start Date:</b> " + $('#date-start').val() + "<br>";
  if($('#enddatevalue').val())
   searchOptions.innerHTML += "<b>End Date:</b> " + $('#date-end').val() + "<br>"; 

  //Update Access
  var access = $('input[name=public_data]');
  var accessVal = access.filter(':checked'); 
  if(accessVal)
  {
   if(accessVal.val() == "")
     searchOptions.innerHTML += "<b>Access:</b> " +  "No Preference<br>";
   if(accessVal.val() == "Y")
     searchOptions.innerHTML += "<b>Access:</b> " + "Public<br>";
   if(accessVal.val() == "N")
     searchOptions.innerHTML += "<b>Access:</b> " + "Private<br>"; 
  }
}

function clearAll()
{
 clearRockTypes();
 clearMetGrades();
 clearBounds();
 clearProvenance();
 clearMinerals();
 
}

function clearRockTypes()
{
 var checkBoxes = document.getElementsByName("rock_type__rock_type__in");
 for(var i=0; i < checkBoxes.length;i++)
 { 
 checkBoxes[i].checked = false;
 }
 document.getElementById("search-options-rock-type").innerHTML = "";
}

function clearMetGrades()
{
 var checkBoxes = document.getElementsByName("metamorphic_grades__name__in");
 for(var i=0; i < checkBoxes.length;i++)
 { 
 checkBoxes[i].checked = false;
 }
 document.getElementById("search-options-metgrades").innerHTML = "";
}

function clearProvenance()
{
 $("#provenance .chosen-select").val('').trigger("chosen:updated");
 if($('#date-start').val())
  $.datepicker._clearDate('#date-start');
 if($('#date-end').val())
  $.datepicker._clearDate('#date-end');
 $('#date-start').val('');
 $('#date-end').val('');
 $('#startdatevalue').attr('value', '');
 $('#enddatevalue').attr('value', '');
 
 $("input:radio[name='public_data']").each(function(i) { this.checked = false; });
 document.getElementById("search-options-provenance").innerHTML = "";
 
}

function updateStartDate(input)
{
 var year = input.value.substr(-4);
 var date = input.value.substr(3, 2);
 var month = input.value.substr(0, 2);
 var timestamp = year + "-" + month + "-" + date + " 00:00:00"; 
 $('#startdatevalue').attr('value', timestamp);
 console.log($('#startdatevalue').val());
 updateProvenance();
}

function updateEndDate(input)
{
 var year = input.value.substr(-4);
 var date = input.value.substr(3, 2);
 var month = input.value.substr(0, 2);
 var timestamp = year + "-" + month + "-" + date + " 00:00:00"; 
 $('#enddatevalue').attr('value', timestamp);
 console.log($('#enddatevalue').val());
 updateProvenance();
}

function clearMinerals()
{
 var searchOptions = document.getElementById("search-options-minerals");
 searchOptions.innerHTML = "";
 $("#mineral-tree").jstree("deselect_all");
 
}

function clearChemMinerals()
{
 var searchOptions = document.getElementById("search-options-chemistry");
 $("#chem-mineral-tree").jstree("deselect_all");
 
}


function clearBounds()
{
 //Update Location in search summary
  document.getElementById("search-options-location").innerHTML = "";
  document.getElementById("ne-lat").value = "";
  document.getElementById("ne-long").value = "";
  document.getElementById("sw-lat").value = "";
  document.getElementById("sw-long").value = "";
  document.getElementById("location-bound").value = '';

  if(currentOverlay)
    currentOverlay.setMap(null);

$("#location .chosen-select").val('').trigger("chosen:updated");

}

function showChemicalAnalyses()
{
 console.log("SQUIRREL");
 document.getElementById("sample-or-chem").value = "chemicalanalysis";
 console.log(document.getElementById("sample-or-chem").value);
 //Resubmit form data
 var frm = document.getElementById('content');
    frm.submit(function () {
    $('#spinner').show();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#results").html("");
                $("#results").html(data);
                $('#spinner').hide();
                document.getElementsByTagName("header")[1].innerHTML = "";

            },
            error: function(data) {
                $("#results").html("Error");
                $('#spinner').hide();
            }
        });
        return false;
    }); //END ajax
}

function showSamples()
{
 console.log("SQUIRREL");
 document.getElementById("sample-or-chem").value = "sample";
 console.log(document.getElementById("sample-or-chem").value);
 //Resubmit form data
 var frm = $('#content');
    frm.submit(function () {
    $('#spinner').show();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#results").html("");
                $("#results").html(data);
                $('#spinner').hide();
                document.getElementsByTagName("header")[1].innerHTML = "";

            },
            error: function(data) {
                $("#results").html("Error");
                $('#spinner').hide();
            }
        });
        return false;
    }); //END ajax
}

function toggleResults()
{
 console.log("TOGGLE SQUIRREL");
 //Resubmit form data
 var frm = $('#content');
    frm.submit(function () {
    $('#spinner').show();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#results").html("");
                $("#results").html(data);
                $('#spinner').hide();
                document.getElementsByTagName("header")[1].innerHTML = "";

            },
            error: function(data) {
                $("#results").html("Error");
                $('#spinner').hide();
            }
        });
        return false;
    }); //END ajax
}

function toggleToChemView()
{
 console.log("HERE");
 var sampleorchem = document.getElementById("sample-or-chem").value;
 sampleorchem = "chemicalanalysis";
 console.log(document.getElementById("sample-or-chem").value);
 //Resubmit form data
 $('#content').submit();
}

function toggleToSampleView()
{
 console.log("HERE");
 var sampleorchem = document.getElementById("sample-or-chem").value;
 sampleorchem = "sample";
 console.log(document.getElementById("sample-or-chem").value);
 //Resubmit form data
 $('#content').submit();
}

function renderElementOxideList(elem)
{
 //Clear element/oxide list
 var list = $($(elem).parent()[0]).find(".elementoxidelist")[0];
 console.log(list);
 list.innerHTML = "";

 //Render elements
 if($(elem).val() == "element")
  list.innerHTML = "<select name='elements__element_id__in' onchange='' class='chosen-select elorox'>{% for element in elements %}<option value='{{ element.element_id }}'>{{ element.name }}</option>{% endfor %}</select>";
 //Render oxides
 else if($(elem).val() == "oxide")
  list.innerHTML = "<select name='oxides__oxide_id__in' onchange='' class='chosen-select elorox'>{% for oxide in oxides %}<option value='{{ oxide.oxide_id }}'>{{ oxide.species }}</option>{% endfor %}</select>";

 //Call chosen plugin
 //Chosen-select plugin activate
/*$(list).find(".elorox").chosen({
    disable_search_threshold: 10,
    no_results_text: "Oops, nothing found!",
    width: "50%"
  });*/
}

function addChemistryRow()
{
 var mineralnodes = {{ mineral_nodes|safe }};
 var rows = document.getElementById("chemistry-forms");
 rows.innerHTML += "<div id= 'form" + chemistryRows + "'><input type='hidden' name='squirrel' value='squirrel'><select class='elementoroxide' onchange='renderElementOxideList(this)'><option selected='selected' value='element'>Element</option><option value='oxide'>Oxide</option></select><br><div class = 'elementoxidelist'><select name='elements__element_id__in' onchange='' class='chosen-select elorox'>{% for element in elements %}<option value='{{ element.element_id }}'>{{ element.name }}</option>{% endfor %}</select></div><a class='add' onclick='addChemistryRow()'>Add</a><a class='remove' onclick='removeChemistryRow(this.parentNode.id)'>Remove</a><br></div> <!--end form -->";

console.log(chemistryRows);
//Chosen-select plugin activate
/*$("#form" + chemistryRows + " .chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: "Oops, nothing found!",
    width: "50%"
  });
*/
chemistryRows++;
}

function removeChemistryRow(id)
{
 var element = document.getElementById(id);
 element.parentNode.removeChild(element);
}

function HomeControl(controlDiv, map) {

  // Set CSS styles for the DIV containing the control
  // Setting padding to 5 px will offset the control
  // from the edge of the map

  // Set CSS for the control border
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = 'white';
  controlUI.style.cursor = 'pointer';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Clear selection';
  controlUI.id = 'clear-map';
  controlDiv.appendChild(controlUI);

  // Set CSS for the control interior
  var controlText = document.createElement('div');
  controlText.style.fontFamily = 'Arial,sans-serif';
  controlText.style.fontSize = '12px';
  controlText.style.paddingLeft = '4px';
  controlText.style.paddingRight = '4px';
  controlText.innerHTML = '<b>Clear </b>';
  controlUI.appendChild(controlText);

  // Setup the click event listeners: simply set the map to
  // Chicago
  google.maps.event.addDomListener(controlUI, 'click', function() {
    clearBounds();
  });

}
</script>

{% endblock %}
