{% extends "base.html" %}

{% block title %}
  <h4>
    <a href="{{ url_for('sample', id=analysis.subsample.sample) }}">Sample {{ analysis.sample.number }}</a> / 
    <a href="{{ url_for('subsample', id=analysis.subsample.id) }}">Subsample {{ analysis.subsample.name }}</a> / 
    {% if analysis.id %}
    <a href="{{ url_for('chemical_analysis', id=analysis.id) }}">Chemical Analysis Point {% if analysis.spot_id %}{{analysis.spot_id}}{% endif %}</a>
    {% else %}
    New Chemical Analysis
    {% endif %}
  </h4>
{% endblock %}

{% block body %}
<form action="" method="POST" onsubmit="return checkForm(this);">
  <div class="table-responsive">
    <table id="chemicalanalysisview_table" class="table">
      <tbody>
        <tr>
          <td class="sample_label">Point Number*</td>
          <td class="sample_value">
            <input type="text" name="spot_id" value="{% if analysis.spot_id != None %}{{analysis.spot_id}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Owner*</td>
          <td class="sample_value">
            {% if analysis.owner %}{{analysis.owner.name}}{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Public</td>
          <td class="sample_value">
            {% if analysis.public_data %}
            <input type="radio" name="public_data" value="True" checked>Yes<br>
            <input type="radio" name="public_data" value="False">No
            {% else %}
            <input type="radio" name="public_data" value="True">Yes<br>
            <input type="radio" name="public_data" value="False" checked>No
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Analysis Method</td>
          <td class="sample_value">
            <input type="text" name="analysis_method" value="{% if analysis.analysis_method %}{{analysis.analysis_method}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Analysis Location</td>
          <td class="sample_value">
            <input type="text" name="where_done" value="{% if analysis.where_done %}{{analysis.where_done}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Analyst</td>
          <td class="sample_value">
            <input type="text" name="analyst" value="{% if analysis.analyst %}{{analysis.analyst}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Description</td>
          <td class="sample_value">
            <input type="text" name="description" value="{% if analysis.description %}{{analysis.description}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Analysis Material</td>
          <td class="sample_value">
            <select name="mineral_id" class="chosen-select" style="width:85%">
              <option></option>
              {% for m in minerals %}
                {% if analysis.mineral and m.name == analysis.mineral.name %}
                <option value="{{ m.id }}" selected="selected">{{ m.name }}</option>
                {% else %}
                <option value="{{ m.id }}">{{ m.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td class="sample_label">Total</td>
          <td class="sample_value">
            <input type="text" name="total" value="{% if analysis.total != None %}{{analysis.total}}{% endif %}" style="width:85%">
          </td>
        </tr>
                <tr>
          <td class="sample_label">Reference X</td>
          <td class="sample_value">
            <input type="text" name="reference_x" value="{% if analysis.reference_x != None %}{{analysis.reference_x}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Reference Y</td>
          <td class="sample_value">
            <input type="text" name="reference_y" value="{% if analysis.reference_y != None %}{{analysis.reference_y}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Stage X</td>
          <td class="sample_value">
            <input type="text" name="stage_x" value="{% if analysis.reference_x != None %}{{analysis.reference_x}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Stage Y</td>
          <td class="sample_value">
            <input type="text" name="stage_y" value="{% if analysis.reference_y != None %}{{analysis.reference_y}}{% endif %}" style="width:85%">
          </td>
        </tr>
        <tr>
          <td class="sample_label">Elements</td>
          <td class="sample_value">
            <table id="elements">
              <thead>
                <tr>
                  <th> </th>
                  <th> </th>
                  <th>Amount</th>
                  <th>Precision</th>
                  <th>Type</th>
                  <th>Unit</th>
                  <th>Min</th>
                  <th>Max</th>
                </tr>
              </thead>
              <tbody>
              {% if analysis.elements %}{% for e in analysis.elements %}
                <tr id="{{ e.name }}">
                  <td><a href="#elements" onclick="document.getElementById('elements').deleteRow(document.getElementById('{{ e.name }}').rowIndex)">x</a></td>
                  <td>&nbsp&nbsp{{ e.name }}&nbsp&nbsp</td>
                  <td><input type="text" name="elements_{{ e.id }}" value="{{ e.amount }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="elements_{{ e.id }}" value="{{ e.precision }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="elements_{{ e.id }}" value="{{ e.precision_type }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="elements_{{ e.id }}" value="{{ e.measurement_unit }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="elements_{{ e.id }}" value="{{ e.min_amount }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="elements_{{ e.id }}" value="{{ e.max_amount }}" style="text-align:right;width:65px"></td>
                </tr>
              {% endfor %}{% endif %}
              </tbody>
            </table>
            <select class="chosen-select" id="element_names" onchange="update('element')">
              <option></option>
              {% for e in elements %}
                <option value="{{ e.id }}">{{ e.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td class="sample_label">Oxides</td>
          <td class="sample_value">
            <table id="oxides">
              <thead>
                <tr>
                  <th> </th>
                  <th> </th>
                  <th>Amount</th>
                  <th>Precision</th>
                  <th>Type</th>
                  <th>Unit</th>
                  <th>Min</th>
                  <th>Max</th>
                </tr>
              </thead>
              <tbody>
              {% if analysis.oxides %}{% for o in analysis.oxides %}
                <tr id="{{ o.species }}">
                  <td><a href="#oxides" onclick="document.getElementById('oxides').deleteRow(document.getElementById('{{ o.species }}').rowIndex)">x</a></td>
                  <td>&nbsp&nbsp{{ o.species }}&nbsp&nbsp</td>
                  <td><input type="text" name="oxides_{{ o.id }}" value="{{ o.amount }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="oxides_{{ o.id }}" value="{{ o.precision }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="oxides_{{ o.id }}" value="{{ o.precision_type }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="oxides_{{ o.id }}" value="{{ o.measurement_unit }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="oxides_{{ o.id }}" value="{{ o.min_amount }}" style="text-align:right;width:65px"></td>
                  <td><input type="text" name="oxides_{{ o.id }}" value="{{ o.max_amount }}" style="text-align:right;width:65px"></td>
                </tr>
              {% endfor %}{% endif %}
              </tbody>
            </table>
            <select class="chosen-select" id="oxide_names" onchange="update('oxide')">
              <option></option>
              {% for o in oxides %}
                <option value="{{ o.id }}">{{ o.species }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td>
            <a href="#"><input type="submit" value="Save Changes"></a>
            <a href=""><button type="button">Reset</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/jstree.min.js"></script>
<script src="/static/css/bootstrap-switch.min.js"></script>

<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
<link href="/static/css/chosen.min.css" rel="stylesheet">
<link href="/static/css/style.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">

<script>
$(function()
{
  $(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: "Oops, nothing found!"
  });
});

function checkForm(form)
{
  if (form.spot_id.value == "")
  {
    alert("Error: Point number cannot be blank!");
    form.spot_id.focus();
    return false;
  }
  return true;
}

function update(type) {
  var objects = document.getElementById(type+"s");
  var object = document.getElementById(type+"_names");
  var id = object.options[object.selectedIndex].value;
  var n = object.options[object.selectedIndex].text;

  var row = objects.insertRow(-1);
  row.id = n;

  var remove = row.insertCell(-1);
  var name = row.insertCell(-1);
  remove.innerHTML = '<a href="#'+type+'s" onclick="document.getElementById(\''+type+'s\').deleteRow(document.getElementById(\''+n+'\').rowIndex)">x</a>'
  name.innerHTML = '&nbsp&nbsp'+n+'&nbsp&nbsp';

  for (var i = 0; i < 6; i++ )
  {
    var cell = row.insertCell(-1);
    var input = document.createElement("input");
    input.type = "text";
    input.name = type+"s_"+id;
    input.value = 0.0;
    input.style.textAlign = "right";
    input.style.width = "65px";
    cell.appendChild(input);
  }
  object.selectedIndex = 0;
}
</script>
{% endblock %}
