{% extends "base.html" %}

{% block title %}
  <h4>
    {% if sample.id %}
    <a href="{{ url_for('sample', id=sample.id) }}">Sample {% if sample.number %}{{sample.number}}{% endif %}</a>
    {% else %}
    New Sample
    {% endif %}
  </h4>
{% endblock %}

{% block body %}
<form action="" method="POST" onsubmit="return checkForm(this);">
  <div class="table-responsive">
    <table id="sampleview_table" class="table">
      <tbody>
        <tr>
			<!--   Print out error response if the user is trying to modify a sample that does not belong to them -->
			{% if response_code %}{{ response_code }}{% endif %} 
          <td class="sample_label">Number*</td>
          <td class="sample_value">
            <input type="text" name="number" value="{% if sample.number %}{{sample.number}}{% endif %}" style="width:85%">
            {% if errors and errors.number %}<br>{% for e in errors.number %}{{ e }}{% endfor %}
            <script>document.getElementsByName("number")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Owner*</td>
          <td class="sample_value">
            {% if sample.owner %}
              {% if sample.owner.name %} {{sample.owner.name}}
              {% else %}
              {{sample.owner}}
              {% endif %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">IGSN</td>
          <td class="sample_value">
            <input type="text" name="sesar_number" value="{% if sample.sesar_number %}{{sample.sesar_number}}{% endif %}" style="width:85%">
            {% if errors and errors.sesar_number %}<br>{% for e in errors.sesar_number %}{{ e }}{% endfor %}
            <script>document.getElementsByName("sesar_number")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Aliases</td>
          <td class="sample_value">
            <div id="aliases">
              {% if sample.aliases %}{% for a in sample.aliases %}
                <input type="text" name="aliases" value="{{a}}" style="width:85%">
              {% endfor %}{% endif %}
            </div>
            <button type="button" onclick="addAlias()" style="float:right">Add</button>
            {% if errors and errors.aliases %}<br>{% for e in errors.aliases %}{{ e }}{% endfor %}
            <script>document.getElementsByName("aliases")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Date Collected<br>YYYY-MM-DD</td>
          <td class="sample_value">
            <input type="text" name="collection_date" value="{% if sample.collection_date %}{{sample.collection_date}}{% endif %}" style="width:85%">
            {% if errors and errors.collection_date %}<br>{% for e in errors.collection_date %}{{ e }}{% endfor %}
            <script>document.getElementsByName("collection_date")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Rock Type*</td>
          <td class="sample_value">
            <select name="rock_type_id" class="chosen-select" style="width:85%">
              <option></option>
              {% for r in rock_types %}
                {% if sample.rock_type and r.name == sample.rock_type %}
                <option value="{{ r.id }}" selected="selected">{{ sample.rock_type }}</option>
                {% else %}
                <option value="{{ r.id }}">{{ r.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% if errors and errors.rock_type_id %}<br>{% for e in errors.rock_type_id %}{{ e }}{% endfor %}
            <script>document.getElementsByName("rock_type_id")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Public</td>
          <td class="sample_value">
            {% if sample.public_data %}
            <input type="radio" name="public_data" value="True" checked>Yes<br>
            <input type="radio" name="public_data" value="False">No
            {% else %}
            <input type="radio" name="public_data" value="True">Yes<br>
            <input type="radio" name="public_data" value="False" checked>No
            {% endif %}
            {% if errors and errors.public_data %}<br>{% for e in errors.public_data %}{{ e }}{% endfor %}
            <script>document.getElementsByName("public_data")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Latitude*</td>
          <td class="sample_value" id="latitude">
            <input type="text" name="latitude" value="{% if sample.latitude %}{{sample.latitude}}{% endif %}" style="width:85%">
          </td>
          {% if errors and errors.latitude %}<br>{% for e in errors.latitude %}{{ e }}{% endfor %}
          <script>document.getElementsByName("latitude")[0].style.borderColor="red";</script>{% endif %}
        </tr>
        <tr>
          <td class="sample_label">Longitude*</td>
          <td class="sample_value" id="longitude">
            <input type="text" name="longitude" value="{% if sample.longitude %}{{sample.longitude}}{% endif %}" style="width:85%">
          </td>
          {% if errors and errors.longitude %}<br>{% for e in errors.longitude %}{{ e }}{% endfor %}
          <script>document.getElementsByName("longitude")[0].style.borderColor="red";</script>{% endif %}
        </tr>
        <tr>
          <td class="sample_label">Country</td>
          <td class="sample_value">
            <select name="country" class="chosen-select" style="width:85%">
              <option></option>
              {% for c in countries %}
                {% if sample.country == c %}
                <option value="{{ c }}" selected="selected">{{ c }}</option>
                {% else %}
                <option value="{{ c }}">{{ c }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          {% if errors and errors.country %}<br>{% for e in errors.country %}{{ e }}{% endfor %}
          <script>document.getElementsByName("country")[0].style.borderColor="red";</script>{% endif %}
        </tr>
        <tr>
          <td class="sample_label">Collector</td>
          <td class="sample_value">
            <input type="text" name="collector_name" value="{% if sample.collector_name %}{{sample.collector_name}}{% endif %}" style="width:85%">
          </td>
          {% if errors and errors.collector_name %}<br>{% for e in errors.collector_name %}{{ e }}{% endfor %}
          <script>document.getElementsByName("collector_name")[0].style.borderColor="red";</script>{% endif %}
        </tr>
        <tr>
          <td class="sample_label">Present Sample Location</td>
          <td class="sample_value">
            <input type="text" name="location_name" value="{% if sample.location_name %}{{sample.location_name}}{% endif %}" style="width:85%">
          </td>
          {% if errors and errors.location_name %}<br>{% for e in errors.location_name %}{{ e }}{% endfor %}
          <script>document.getElementsByName("location_name")[0].style.borderColor="red";</script>{% endif %}
        </tr>
        <tr>
          <td class="sample_label">Region</td>
          <td class="sample_value">
            <select multiple id="regions" name="regions_" class="chosen-select" style="width:85%">
              <option hidden selected="selected"></option>
              {% for r in regions %}
                {% if r.name in sample.regions %}
                <option value="{{ r.name }}" selected="selected">{{ r.name }}</option>
                {% else %}
                <option value="{{ r.name }}">{{ r.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>
            <input type="text" id="add_regions" style="width:85%">
            <button type="button" onclick="addtoList('regions')" style="float:right">Add</button>
            {% if errors and errors.regions %}<br>{% for e in errors.regions %}{{ e }}{% endfor %}
            <script>document.getElementsByName("regions")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Metamorphic Regions</td>
          <td class="sample_value">
            <select multiple name="metamorphic_region_ids_" class="chosen-select" style="width:85%">
              <option hidden selected="selected"></option>
              {% for m in metamorphic_regions %}
                {% if m.name in sample.metamorphic_regions %}
                <option value="{{ m.id }}" selected="selected">{{ m.name }}</option>
                {% else %}
                <option value="{{ m.id }}">{{ m.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% if errors and errors.metamorphic_region_ids %}<br>{% for e in errors.metamorphic_region_ids %}{{ e }}{% endfor %}
            <script>document.getElementsByName("metamorphic_region_ids")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Metamorphic Grades</td>
          <td class="sample_value">
            <select multiple name="metamorphic_grade_ids_" class="chosen-select" style="width:85%">
              <option hidden selected="selected"></option>
              {% for m in metamorphic_grades %}
                {% if m.name in sample.metamorphic_grades %}
                <option value="{{ m.id }}" selected="selected">{{ m.name }}</option>
                {% else %}
                <option value="{{ m.id }}">{{ m.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% if errors and errors.metamorphic_grade_ids %}<br>{% for e in errors.metamorphic_grade_ids %}{{ e }}{% endfor %}
            <script>document.getElementsByName("metamorphic_grade_ids")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Publication References</td>
          <td class="sample_value">
            <select multiple id="references" name="references_" class="chosen-select" style="width:85%">
              <option></option>
              {% for r in references %}
                {% if r.name in sample.references %}
                <option value="{{ r.name }}" selected="selected">{{ r.name }}</option>
                {% else %}
                <option value="{{ r.name }}">{{ r.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>
            <input type="text" id="add_references" value="" style="width:85%">
            <button type="button" onclick="addtoList('references')" style="float:right">Add</button>
            {% if errors and errors.references %}<br>{% for e in errors.references %}{{ e }}{% endfor %}
            <script>document.getElementsByName("references")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td class="sample_label">Description</td>
          <td class="sample_value">
            <input type="text" name="description" value="{% if sample.description %}{{sample.description}}{% endif %}" style="width:85%">
          </td>
          {% if errors and errors.description %}<br>{% for e in errors.description %}{{ e }}{% endfor %}
          <script>document.getElementsByName("description")[0].style.borderColor="red";</script>{% endif %}
        </tr>
        <tr>
          <td class="sample_label">Abstracts</td>
          <td class="sample_value"> </td>
        </tr>
        <tr>
          <td class="sample_label">Minerals</td>
          <td class="sample_value">
            <table id="minerals">
              <tbody>
              {% for m in minerals %}
              {% if m.name in sample.minerals %}
                <tr id="{{ m.id }}">
                  <td><a href="#minerals" onclick="document.getElementById('minerals').deleteRow(document.getElementById('{{ m.id }}').rowIndex)">x</a></td>
                  <td><input type="text" disabled name="mineral_name" value="{{ m.name }}" style="width:85%"></td>
                  <td><input type="hidden" readonly name="minerals_" value="{{ m.id }}"></td>
                </tr>
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
            <select class="chosen-select" id="mineral_names" onchange="updateMinerals()">
              <option></option>
              {% for m in minerals %}
                <option value="{{ m.id }}">{{ m.name }}</option>
              {% endfor %}
            </select>
            {% if errors and errors.minerals %}<br>{% for e in errors.minerals %}{{ e }}{% endfor %}
            <script>document.getElementsByName("minerals")[0].style.borderColor="red";</script>{% endif %}
          </td>
        </tr>
        <tr>
          <td> </td>
          <td>
            <a href="#"><input type="submit" value="Save Changes"></a>
            {% if sample.id %}
              <a href="{{ url_for('sample', id=sample.id) }}"><button type="button">Cancel</button></a>
            {% else %}
              <a href="{{ url_for('search') }}"><button type="button">Cancel</button></a>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/jstree.min.js"></script>
<script src="/static/css/bootstrap-switch.min.js"></script>

<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
<link href="/static/css/chosen.min.css" rel="stylesheet">
<link href="/static/css/style.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">

<script>
$(function()
{
  $(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: "Oops, nothing found!"
  });
});

function checkForm(form) {
  var error=document.createElement("span");
  var val=form.latitude.value;
  if (val == "" || parseFloat(val) < -90 || parseFloat(val) > 90) {
    error.innerHTML="<br>Please enter a latitude between -90 and 90!";
    document.getElementById("latitude").appendChild(error);
    form.latitude.style.borderColor="red";
    form.latitude.focus();
    return false;
  }
  val=form.longitude.value;
  if (val == "" || parseFloat(val) < -180 || parseFloat(val) > 180) {
    error.innerHTML="<br>Please enter a longitude between -180 and 180!";
    document.getElementById("longitude").appendChild(error);
    form.longitude.style.borderColor="red";
    form.longitude.focus();
    return false;
  }
  var d=document.getElementsByName("collection_date")[0];
  var date=new Date(d.value);
  d.value=date.toISOString();
  return true;
}

function addAlias() {
  var input=document.createElement('input');
  input.type="text";
  input.name="aliases";
  input.style.width="85%";
  document.getElementById('aliases').appendChild(input);
}

function addtoList(type) {
  var input=document.getElementById('add_'+type.toString());
  var new_option=document.createElement("option");
  new_option.innerHTML=input.value;
  new_option.value=input.value;
  new_option.selected="selected";
  document.getElementById(type.toString()).add(new_option);
  input.value='';
  $('.chosen-select').trigger("chosen:updated");
}

function updateMinerals() {
  var minerals=document.getElementById("minerals");
  var mineral=document.getElementById("mineral_names");
  var id=mineral.options[mineral.selectedIndex].value;
  var n=mineral.options[mineral.selectedIndex].text;

  for (var i=0, row; row=minerals.rows[i]; i++)
    if (row.id == n) { row.cells[2].focus(); return; }

  var row=minerals.insertRow(-1);
  row.id=n;

  var remove=row.insertCell(-1);
  var name=row.insertCell(-1);
  remove.innerHTML='<a href="#minerals" onclick="document.getElementById(\'minerals\').deleteRow(document.getElementById(\''+n+'\').rowIndex)">x</a>'

  var input=document.createElement("input");
  input.type="text";
  input.name="mineral_name";
  input.style.textAlign="left";
  input.style.width="85%";
  input.value=n;
  input.disabled="True";
  name.appendChild(input);

  var hidden=document.createElement("input");
  hidden.type="hidden";
  hidden.name="minerals_";
  hidden.value=id;
  name.appendChild(hidden);

  mineral.selectedIndex=0;
}
</script>
{% endblock %}
