{% extends "base.html" %}

{% block body %}
<h4 id="heading"> Welcome to MetPetDB </h4>

<div id="slices">
    <img src="/static/images/mpdb.jpg"/>
</div>

<p>MetPetDB is a database for metamorphic petrology that is being designed and built by a global community of metamorphic petrologists in collaboration with computer scientists at Rensselaer Polytechnic Institute as part of the National Cyberinfrastructure Initiative and supported by the National Science Foundation.</p>
<br/>

<p>This project will support the development, implementation and population of MetPetDB with the purpose of:</p>
<ol>
    <li>archiving published data</li>
    <br/>
    <li>storing new data for ready access to researchers and students</li>
    <br/>
    <li>facilitating the gathering of information for researchers beginning new projects</li>
    <br/>
    <li>providing a search mechanism for data relating to anywhere on the globe</li>
    <br/>
    <li>providing a platform for collaborative studies among researchers</li>
    <br/>
    <li>serving as a portal for students beginning their studies of metamorphic geology</li>
</ol>
<br/>
<br/>
<i>Version 0.2</i>
{%endblock%}
