{% extends "base.html" %}

{% block title %}
<h4>Reset Password</h4>
{% endblock %}

{% block body %}
<form action="" method="post" onsubmit="return checkForm(this);" id="reset-password-form">
	<div class="table-responsive" style="width:45%">
		<table class="table">
			<tr>
				<td>New Password*</td>
				<td><input type="password" name="new_password" style="width:95%"></td>
			</tr>
			<tr>
				<td>Confirm New Password*</td>
				<td><input type="password" name="re_new_password" style="width:95%"></td>
			</tr>
			<tr>
				<td> </td>
				<td><input type="submit" value="Reset"></td>
			</tr>
		</table>
	</div>
</form>

<script>
function checkForm(form)
{
  if (form.password.value == "")
  {
    alert("Error: Password cannot be blank!");
    form.password.focus();
    return false;
  }
  if (form.password.value != form.password_confirm.value)
  {
    alert("Error: Passwords do not match!");
    form.password_confirm.focus();
    return false;
  }
  form.password_confirm.value = "";
  return true;
}
</script>
{% endblock %}
