{% block body %}
{% if showmap %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(0,0),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    var map = new google.maps.Map(document.getElementById('res-map-canvas'), mapOptions)
    var markers = [];
    var samples = JSON.parse('{{ samples|tojson }}');
    var lat;
    var lon;
    for (var i = 0; i < samples.length; i++) {
      lat = parseFloat(samples[i]['lat']);
      lon = parseFloat(samples[i]['lon']);
      var url = '/sample/'+samples[i]['sample_id'];
      var marker = new google.maps.Marker( {
        position: new google.maps.LatLng(lat,lon),
        map: map,
        title: samples[i]['number']+
          '\nSubsamples: '+samples[i]['subsample_count']+
          '\nChemical Analyses: '+samples[i]['chem_analyses_count'],
        url: url
      });
      google.maps.event.addListener(marker, 'click', function() {
        window.open(this.url,'_blank');
      });
      markers.push(marker);
    }
    map.fitBounds(markers.reduce(function(bounds, marker) {
      return bounds.extend(marker.getPosition());
    }, new google.maps.LatLngBounds()));
  }
  google.maps.event.addDomListenerOnce(window, 'mouseover', initialize);
</script>
<div id="collapseThree" class="panel-collapse collapse in">
  <div id="res-map-canvas" style='width:600px;height:500px;margin:20px'></div>
</div>
<div id="test"></div>
{% endif %}
<div class = "table-responsive">
  <table id="samplelist" class="table">
    <thead>
      <tr>
        <th>Sample Number</th>
        <th>Subsamples</th>
        <th>Chemical Analyses</th>
        <th>Images</th>
        <th>Rock Type</th>
        <th>Minerals</th>
        <th>Latitude</th>
        <th>Longitute</th>
        <th>Date Collected</th>
    </thead>
    <tbody>
      {% if total %}
      <p>Total: {{ total }}</p>
      {% elif runningtotal %}
      <p>Running total: {{ runningtotal }}</p>
      {% endif %}
      {% for sample in samples %}
      <tr>
        <td id="url" class="sample_label"><a href="{{ url_for('sample', id=sample.sample_id) }}" target="_blank">{% if sample.number %}{{ sample.number }}{% endif %}</td>
        <td td class="sample_value">{% if sample.subsample_count %}{{ sample.subsample_count }}{% endif %}</td>
        <td td class="sample_value">{% if sample.chem_analyses_count %}{{ sample.chem_analyses_count }}{% endif %}</td>
        <td td class="sample_value">{% if sample.image_count %}{{ sample.image_count }}{% endif %}</td>
        <td td class="sample_value">{% if sample.rock_type__rock_type %}{{ sample.rock_type__rock_type }}{% endif %}</td>
        <td td class="sample_mineral sample_value">
          {{ sample.mineral_list|truncate(30)}}
          {% if sample.mineral_list %}
            <div class = "full_list">{{ sample.mineral_list }}</span>
          {% endif %}
        </td>
        <td td class="sample_value">{% if sample.lat %}{{ sample.lat }}{% endif %}</td>
        <td td class="sample_value">{% if sample.lon %}{{ sample.lon }}{% endif %}</td>
        <td td class="sample_value">{% if sample.collection_date %}{{ sample.collection_date }}{% endif %}</td>
      </tr>
      {%endfor%}
    </tbody>
    </thead>
  </table>
</div> <!-- table-responsive-->
&lt;&lt; <a class="samples-pagination" href="{{ first_page }}">First</a>
{% if prev_url %}
  &nbsp;&nbsp;&lt; <a class="samples-pagination" name="prev" value="sure" href="{{ prev_url }}">Prev</a>
{% endif %}
&nbsp;&nbsp;|
{% if next_url %}
  &nbsp;&nbsp; <a class="samples-pagination" href="{{ next_url }}">Next</a> &gt;
{% endif %}
&nbsp;&nbsp; <a class="samples-pagination" name="prev" value="last" href="{{ last_page }}">Last</a> &gt;&gt;

<script>
//Ajax call for first, last, next and previous samples
$('.samples-pagination').click(function (event) 
{ 
 if(document.URL.indexOf("search") !== -1)
 {
  console.log(document.URL.indexOf("search"));
   event.preventDefault(); 
   var url = $(this).attr('href');
    $('#spinner').show();
        $.ajax({
	    type: "GET",
            url: url,
            success: function (data) {
                $("#results").html(data);
                $('#spinner').hide();
            },
            error: function(data) {
                $("#results").html("Error");
                $('#spinner').hide();
            }
        });
        return false;
  } //endif
  else
   window.location = url;
 });
</script>

{% endblock %}
