{% extends "base.html" %}



{% block title %}

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/imageviewer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/imageviewer.css">


<h4>
  Sample {{ sample.number }}
  <div style="height:0px;overflow:hidden">
   <input type="file" id="fileInput" name="fileInput" />
  </div>
  {% if sample.public_data %}<a id="imgUpload" style="float:right" onclick="chooseFile();" href="#">Add Image</a>{% endif %}
  <div style='float:right'> &nbsp; &nbsp; &nbsp; </div>


  {% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_sample', id=sample.id) }}">Edit Sample</a></span>{% endif %}

</h4>
{% endblock %}


{% block body %}
<div class="table-responsive">
  <table id="sampleview_table" class="table">
    <tbody>
      <tr>
        <td class="sample_label">Owner</td>
        <td class="sample_value">{% if sample.owner %}{{ sample.owner }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Date Collected</td>
        <td class="sample_value">{% if sample.collection_date %}{{ sample.collection_date }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Rock Type</td>
        <td class="sample_value">{% if sample.rock_type %}{{ sample.rock_type }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Latitude</td>
        <td class="sample_value">{% if sample.latitude %}{{ sample.latitude }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Longitude</td>
        <td class="sample_value">{% if sample.longitude %}{{ sample.longitude }}{% endif %}</td>
      </tr>

      <tr>
        <td class="sample_label">Country</td>
        <td class="sample_value">{% if sample.country %}{{ sample.country }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Collector</td>
        <td class="sample_value">{% if sample.collector_name %}{{ sample.collector_name }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Present Location</td>
        <td class="sample_value">{% if sample.location_name %}{{ sample.location_name }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Regions</td>
        <td class="sample_value">{% if sample.regions %}{% for r in sample.regions %}{% if loop.index0 > 0 %}, {% endif %}{{ r }}{% endfor %}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Metamorphic Regions</td>
        <td class="sample_value">{% if sample.metamorphic_regions %}{% for r in sample.metamorphic_regions %}{% if loop.index0 > 0 %}, {% endif %}{{ r }}{% endfor %}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Metamorphic Grades</td>
        <td class="sample_value">{% if sample.metamorphic_grades %}{% for g in sample.metamorphic_grades %}{% if loop.index0 > 0 %}, {% endif %}{{ g }}{% endfor %}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Publication References</td> <!--  New Format  -->
        <td class="sample_value">
        {% if sample.references %}{% for r in sample.references %}
          {{ r }} 
        {% endfor %}{% endif %}
        </td>
      </tr>
      <tr>
        <td class="sample_label">Description</td>
        <td class="sample_value">{% if sample.description %}{{ sample.description }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Minerals</td>
        <td class="sample_value">{% if sample.minerals %}{% for m in sample.minerals %}{% if loop.index0 > 0 %}, {% endif %}{{ m }}{% endfor %}{% endif %}</td>
      </tr>
    </tbody>
  </table>
  <div id="map_canvas"></div>

</div>


<hr>


<div class="container">
  <h4>Sample Images</h4>
    <div class="img-grid">

      {% if sample.images %} {%for image in sample.images %}
      <script>
        images.push({"url":"{{ image.image.full_size }}", "description": "{{ image.image_type.comments }}",
        "type": "{{ image.image_type.image_type }}" });
      </script>
        <div class="thumbnail" id="{{ loop.index-1 }}">
          <img src = "{{ image.image.full_size }}" style="width:100%; height:200px" class="sampleimg"
               onclick="overlay_on({{loop.index-1}})">
      </div>
      {% endfor %}
      {% endif %}

  </div>
</div>


<div class="modal" id="overlay" >
    <div class="img-panel" id="imagePanel">


        <div class="arrow-box" id="btnPrevImage" onclick="previousImage()">
              <i class="fa fa-angle-left"></i>
        </div>
      <div class="top-box" id="topBox">

        <div class="top-row">
          <i class="fa fa-window-close" onclick="overlay_off()"></i>
        </div>

        <div id="imageTypeContent" class="imageTypeContainer">
            <p id="imageTypeText">Image Type</p>
        </div>


        <div class="img-container" id="imageContainer">
            <img src = "" id="displayImage">
        </div>

      </div>
          <div class="arrow-box" onclick="nextImage()">
              <i class="fa fa-angle-right" id="btnNextImage"></i>
          </div>

    </div>
</div>


<hr>
<h4>Subsamples{% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_subsample', id='new')}}?sample_id={{ sample.id }}">Add Subsample</a></span>{% endif %}</h4>
<div class="table-responsive">
  <table id="subsampletable_canvas">
    <thead>
      <tr>
        <th>Name</th>
        <th>Public</th>
        <th>Type</th>
        <th>Image Count</th>
        <th>Chemical Analysis Count</th>
        <th>Owner</th>
        <th>Image Map</th>
      </tr>
    </thead>
    <tbody>
      {% for subsample in subsamples %}
      <tr>
        <td id="img-popup"><a href="{{ url_for('subsample', id=subsample.id) }}">{{ subsample.name }}</a></td>
        <td>{{ subsample.public_data }}</td>
        <td>{{ subsample.subsample_type.name }}</td>
        <td>{{ subsample.images }}</td>
        <td>{{ subsample.chemical_analyses|length }}</td>
        <td><a href="{{ url_for('user', email=email) }}" target="_blank">{{ sample.owner.name }}</a></td>
        <td> -- </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCGEQBqKb2zbQdXuO8c9QNkvvkoL20eNw4"></script>

<script>

function chooseFile() {
      $("#fileInput").click();
}

$(document).ready(function()
{

});

$(window).load( function() {


});

var map_lat = {{ sample.latitude }}; 
var map_long = {{ sample.longitude }};  

var myCenter=new google.maps.LatLng(map_lat, map_long);
function initialize()
{
  var mapProp = {
    center:myCenter,
    zoom:8,
    mapTypeId:google.maps.MapTypeId.HYBRID
  };

  var map=new google.maps.Map(document.getElementById("map_canvas"), mapProp);
  var infowindow = new google.maps.InfoWindow();

  var marker=new google.maps.Marker({
    position:myCenter,
  });

  var content="latitude:"+map_lat+","+"longitude:"+map_long;

  makeInfoWindowEvent(map, infowindow, content, marker);
  marker.setMap(map);

  function makeInfoWindowEvent(map, infowindow, contentString, marker) {
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    })
  };
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

{% endblock %}
