{% if extends %}{% extends "base.html" %}{% endif %}

{% block body %}
{% if showmap %}
<div id="collapseThree" class="panel-collapse collapse in">
  <div id="res-map-canvas" style='width:600px;height:500px;margin:15px'></div>
</div>
{% endif %}

<div class="table-responsive">
  <table id="samplelist" class="table">
    <caption>
      <span style="float:left">Total: {{ total }}</span>
      <span style="float:left; margin-left:838px;"><a onclick="addSample()">Add Sample</a></span>
      <span style="float:left; margin-left:20px"><a href="#collapseOne" onclick="exportToCsv()">Export data to CSV files</a></span>

    </caption>
    <thead>
      <tr>
        {% for name in field_names %}
          <th> {{ name }} {% if name == sorting_name %}▼ {% endif %} </th>
        {% endfor %}
      </tr>
<!--       <tr>
        <th>Sample Number</th>
        <th>Subsamples</th>
        <th>Chemical Analyses</th>
        <th>Images</th>
        <th>Rock Type</th>
        <th>Minerals</th>
        <th>Latitude</th>
        <th>Longitute</th>
        <th>Date Collected</th>
      </tr> -->
    </thead>
    <tbody>

      {% for sample in samples %}
        <tr>
          {% for n in field_names %}

            {% if n == 'Sample Number' %}
              <td id="url" class="sample_label"><a href="{{ url_for('sample', id=sample.id) }}">{{ sample.number }}</td>
            {% endif %}

            {% if (n == 'Chemical Analyses') or (n == 'Images') or (n == 'Subsamples')  %}
              <td class="sample_value">{{ sample[fields_dict[n]]|length }}</td>
            {% endif %}

            {% if (n == 'Metamorphic Regions') or (n == 'Minerals') or (n == 'Regions') %}
              <td class="sample_mineral sample_value">{{ sample[fields_dict[n]]|truncate(30)}}
                {% if sample[fields_dict[n]] %}
                <div class="full_list">{{ sample[fields_dict[n]] }}</div>
                {% endif %}
              </td>              
            {% endif %}

            {% if (n == 'Country') or (n == 'Rock Type') or (n == 'Owner') or (n=='Latitude') or (n =='Longitude') or (n == 'Collection Date') or (n == 'Metamorphic Grades') or (n == 'References') %}
              <td class="sample_value">{% if sample[fields_dict[n]] %}{{ sample[fields_dict[n]] }}{% endif %}</td>
            {% endif %} 

          {% endfor %}

        </tr>
      {% endfor %}


<!--       {% for sample in samples %}
      <tr>
        <td id="url" class="sample_label"><a href="{{ url_for('sample', id=sample.id) }}">{% if sample.number %}{{ sample.number }}{% endif %}</td>

        <td class="sample_value">{% if sample.subsample_ids != None %}{{ sample.subsample_ids|length }}{% endif %}</td>
        <td class="sample_value">{% if sample.chemical_analyses_ids != None %}{{ sample.chemical_analyses_ids|length }}{% endif %}</td>
        <td class="sample_value">{% if sample.image_count != None %}{{ sample.image_count }}{% endif %}</td>
        <td class="sample_value">{% if sample.rock_type %}{{ sample.rock_type.name }}{% endif %}</td>
        <td class="sample_mineral sample_value">{{ sample.minerals|truncate(30)}}
          {% if sample.minerals %}
          <div class="full_list">{{ sample.minerals }}</div>
          {% endif %}
        </td>
        <td class="sample_value">{% if sample.location_coords %}{{ sample.location_coords.0 }}{% endif %}</td>
        <td class="sample_value">{% if sample.location_coords %}{{ sample.location_coords.1 }}{% endif %}</td>
        <td class="sample_value">{% if sample.collection_date %}{{ sample.collection_date }}{% endif %}</td>
      </tr>
      {%endfor%} -->
    </tbody>
  </table>
</div>
{% if page_num != 1 %}
&lt;&lt; <a class="samples-pagination" href="{{ first_page }}">First</a>
{% if prev_url %}
  &nbsp;&nbsp;&lt; <a class="samples-pagination" href="{{ prev_url }}">Prev</a>
{% endif %}
{% endif %}
{% if prev_url and next_url %}
&nbsp;&nbsp;|
{% endif %}
{% if next_url %}
  &nbsp;&nbsp; <a class="samples-pagination" href="{{ next_url }}">Next</a> &gt;
&nbsp;&nbsp; <a class="samples-pagination" href="{{ last_page }}">Last</a> &gt;&gt;
{% endif %}

{% if showmap %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGEQBqKb2zbQdXuO8c9QNkvvkoL20eNw4"></script>

<script>
// SHOW SAMPLES ON MAP
function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(0,0),
    zoom: 5,
    mapTypeId: google.maps.MapTypeId.HYBRID
  }
  var map = new google.maps.Map(document.getElementById('res-map-canvas'), mapOptions)
  var markers = [];
  var samples = {{ samples|tojson }};
  var lat;
  var lon;
  for (var i = 0; i < samples.length; i++) {
    lat = parseFloat(samples[i]['location_coords'][0]);
    lon = parseFloat(samples[i]['location_coords'][1]);
    var url = '/sample/'+samples[i]['id'];
    var infowindow = new google.maps.InfoWindow({
      content: "<div>Hello World<br></div>"
    });
    var marker = new google.maps.Marker( {
      position: {lat: lat, lng: lon},
      map: map,
      title: samples[i]['number']+
        '\nSubsamples: '+samples[i]['subsample_ids'].length+
        '\nChemical Analyses: '+samples[i]['chemical_analyses_ids'].length,
      url: url
    });
    marker.addListener('click', function() {
      window.open(this.url);
    });
    markers.push(marker);
  }
  map.fitBounds(markers.reduce(function(bounds, marker) {
    return bounds.extend(marker.getPosition());
  }, new google.maps.LatLngBounds()));
}
google.maps.event.addDomListenerOnce(window, 'mouseover', initialize);
</script>
{% endif %}

<script>
// AJAX PAGINATION CALLS
$('.samples-pagination').click(function (event) 
{ 
  if(document.URL.indexOf("search") !== -1)
  {
    event.preventDefault(); 
    var url = $(this).attr('href');
    $('#spinner').show();
    $.ajax({
	    type: "GET",
      url: url,
      success: function (data) {
        $("#results").html(data);
        $('#spinner').hide();
      },
      error: function(data) {
        $("#results").html("Error");
        $('#spinner').hide();
      }
    });
    return false;
  }
  else
    window.location = url;
});

// EXPORT DATA TO CSV
function exportToCsv() {
  if ('{{ auth_token }}' == 'None') {
    var ans = confirm("You must be logged in to export data to CSV. Redirect to login screen?");
    if (ans)
      window.location.href = '{{ url_for('login') }}';
    return;
  }

  var filename = prompt("Please enter a filename:","search_results.csv");
  if (filename.substring(filename.length-4) != ".csv")
    filename += ".csv";

  var csvFile = '';
  var table = document.getElementById("samplelist");
  for (var i = 0, row; row = table.rows[i]; i++) {
    for (var j = 0, cell; cell = row.cells[j]; j++) {
      //var innerdata = cell.innerText.toString();
      var innerdata = cell.textContent.toString();
      var k = innerdata.indexOf("...");
      if (k >= 0)
        innerdata = innerdata.substring(k+4);
      if (innerdata.search(/("|,|\n)/g) >= 0)
        innerdata = '"' + innerdata + '"';
      if (j > 0)
        csvFile += ',';
      csvFile += innerdata;
    }
    csvFile += '\n';
  }

  var blob = new Blob([csvFile], { type: 'text/csv;charset=utf-8;' });
  if (navigator.msSaveBlob) { // IE 10+
    navigator.msSaveBlob(blob, filename);
  }
  else {
    var link = document.createElement('a');

    if (navigator.userAgent.includes('Safari')) {
      console.log(navigator.userAgent);
      window.open('data:attachment/csv;charset=utf-8,' + encodeURI(csvFile));
    } else {
      console.log(navigator.userAgent);
      var url = URL.createObjectURL(blob);
      console.log(url);
      link.href = url;
      link.download = filename;
      link.target = '_blank';
      link.style.visibility = 'hidden';
      document.body.appendChild(link);
      link.click();
      setTimeout(function(){
        document.body.removeChild(link);
        window.URL.revokeObjectURL(url);  
      }, 100);  
    }
  }
}

//{{ url_for('edit_sample', id='new') }}
function addSample() {
  if ('{{ auth_token }}' == 'None') {
    var ans = confirm("You must be logged in to add a sample. Redirect to login screen?");
    if (ans)
      window.location.href = '{{ url_for('login') }}';
    return;
  }
  window.location.href = '{{ url_for('edit_sample', id='new') }}';
}


</script>


{% endblock %}
