<link rel="stylesheet" type="text/css" href="/static/css/base.css">

{% block body %}
<div class = "table-responsive">
  <table id="samplelist" class="table">
    <thead>
      <tr>
        <th>Sample Number</th>
        <th>Public Data</th>
        <th>Subsamples</th>
        <th>Chemical Analyses</th>
        <th>Images</th>
        <th>Username</th>
        <th>Rock Type</th>
        <th>Minerals</th>
        <th>Date Collected</th>
    </thead>
    <tbody>
      {% if total %}
      <p>Total: {{ total }}</p>
      {% endif %}
      {% for sample in samples %}
      <tr>
        <td class="sample_label"><a href="{{ url_for('sample', id=sample.sample_id) }}" target="_blank">{{ sample.number }}</td>
        <td td class="sample_value">{{ sample.public_data }}</td>
        <td td class="sample_value">{{ sample.subsample_count }}</td>
        <td td class="sample_value">{{ sample.chem_analyses_count }}</td>
        <td td class="sample_value">{{ sample.image_count }}</td>
        <td td class="sample_value">{{ sample.user.name }}</td>
        <td td class="sample_value">{{ sample.rock_type.rock_type }}</td>
        <td td class="sample_mineral sample_value">
          {{ sample.mineral_list|truncate(30)}}
          {% if sample.mineral_list %}
            <div class = "full_list">{{ sample.mineral_list }}</span>
          {% endif %}
        </td>
        <td td class="sample_value">{{ sample.collection_date }}</td>
      </tr>
      {%endfor%}
    </tbody>
    </thead>
  </table>
</div> <!-- table-responsive-->
  &lt;&lt; <a class="samples-pagination" href="{{ first_page }}"> First </a>
  {% if prev_url %}
     &nbsp;  &nbsp; &lt; <a class="samples-pagination" href="{{ prev_url }}">Prev </a>
  {% endif %}
  {% if next_url %}
     &nbsp;  &nbsp;<a class="samples-pagination" href="{{ next_url }}">Next</a> &gt;
  {% endif %}
   &nbsp;  &nbsp; <a class="samples-pagination" href="{{ last_page }}">Last </a>  &gt;&gt;
{% endblock %}


