{% extends "base.html" %}

{% block title %}
<h4>
  <a href="{{ url_for('sample', id=subsample.sample.id) }}">Sample {{ subsample.sample.number }}</a> / 
  Subsample {{ subsample.name }}
  {% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_subsample', id=subsample.id) }}">Edit Subsample</a></span>{% endif %}
</h4>
{% endblock %}

{% block body %}
<div class="table-responsive">
  <table id="subsampleview_table" class="table">
    <tbody>
      <tr>
        <td class="subsample_label">Owner</td>
        <td class="subsample_value">{% if subsample.owner %}{{ subsample.owner.name }}{% endif %}</td>
      </tr>
      <tr>
        <td class="subsample_label">Type</td>
        <td class="subsample_value">{% if subsample.subsample_type %}{{ subsample.subsample_type.name }}{% endif %}</td>
      </tr>
      <tr>
        <td class="subsample_label">Public</td>
        <td class="subsample_value">{% if subsample.public_data %}Yes{% else %}No{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<h4>Subsample Images</h4>
<div class="table-responsive">
  <table id="subsampleviewimg_canvas">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>filename</th>
        <th>Image Type</th>
        <th>Collector</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr id="thumb_row">
        <td>
          <a href="http://metpetdb.rpi.edu/metpetweb/image/?checksum={{image.checksum_half}}" rel="lightbox" title="Image type: {{ image.image_type }} <br> File name: {{ image.filename }} <br> <a href='http://metpetdb.rpi.edu/metpetweb/image/?checksum={{image.checksum}}' target='_blank'>View Original</a>">
            <img src="http://metpetdb.rpi.edu/metpetweb/image/?checksum={{image.checksum_64x64}}">
          </a>
        </td>
        <td>{{ image.filename }}</td>
        <td>{{ image.image_type }}</td>
        <td>{{ image.collector }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr>
<h4>Chemical Analyses{% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_chemical_analysis', id='new')}}?subsample_id={{ subsample.id }}">Add Chemical Analysis</a></span>{% endif %}</h4>
<div class="table-responsive">
  <table id="chemtable_canvas">
    <thead>
      <tr>
        <th>Point Number</th>
        <th>Public</th>
        <th>Analysis Method</th>
        <th>Analysis Material</th>
        <th>Analysis Location</th>
        <th>Analyst</th>
        <th>Analysis Date</th>
        <th>Reference X</th>
        <th>Reference Y</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for analysis in chemical_analyses %}
      <tr>
        <td><a href="{{ url_for('chemical_analysis', id=analysis.id) }}">{{ analysis.spot_id }}</td>
        <td>{{ analysis.public_data }}</td>
        <td>{{ analysis.analysis_method }}</td>
        <td>{{ analysis.mineral.name }}</td>
        <td>{{ analysis.where_done }}</td>
        <td>{{ analysis.analyst }}</td>
        <td>{{ analysis.analysis_date }}</td>
        <td>{{ analysis.reference_x }}</td>
        <td>{{ analysis.reference_y }}</td>
        <td>{{ analysis.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function()
{
  $('#chemtable_canvas').dataTable();
  $('#thumb_row td a').lightbox();
});
</script>
{% endblock %}
