{% extends "base.html" %}

{% block title %}
  <h3>{{user.name}}</h3>
{% endblock %}

{% block body %}
<div class="table-responsive">
  <table id="user_details_table" class="table">
    <tbody>
      <tr>
        <td>Email Address</td>
        <td>{% if user.email %}{{user.email}}{% endif %}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{% if user.name %}{{user.name}}{% endif %}</td>
      </tr>
      <tr>
        <td>Street Address</td>
        <td>{% if user.address %}{{user.address}}{% endif %}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{% if user.city %}{{user.city}}{% endif %}</td>
      </tr>
      <tr>
        <td>State/Province</td>
        <td>{% if user.province %}{{user.province}}{% endif %}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{% if user.country %}{{user.country}}{% endif %}</td>
      </tr>
      <tr>
        <td>Postal Code</td>
        <td>{% if user.postal_code %}{{user.postal_code}}{% endif %}</td>
      </tr>
      <tr>
        <td>Institution</td>
        <td>{% if user.institution %}{{user.institution}}{% endif %}</td>
      </tr>
      <tr>
        <td>Professional URL</td>
        <td>{% if user.professional_url %}{{user.professional_url}}{% endif %}</td>
      </tr>
      <tr>
        <td>Research Interests</td>
        <td>{% if user.research_interests %}{{user.research_interests}}{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
{% endblock %}
